<div data-template = "featured-in">
    <div class="featured-in">
        <div class="col-md-12">
            <div class="line">

            </div>
            <div class="recent-feature">
                FEATURED IN
            </div>
        </div>

        <div class="col-md-3">
            <div class="logo-n">
            <img src="/public/img/profile/fast-company.jpg">
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="logo-n">
                <img src="/public/img/profile/huff.jpeg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="logo-n">
                <img src="/public/img/profile/vice.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="logo-n">
                <img src="/public/img/profile/metro.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="logo-n">
                <img src="/public/img/profile/wired.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="logo-n">
                <img src="/public/img/profile/refinery.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="logo-n">
                <img src="/public/img/profile/creators.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="logo-n">
                <img src="/public/img/profile/forbes.jpg">
            </div>
        </div>
    </div>
</div>