<div data-template = "podcast-page-nathan">
    <div class="podcast-page-nathan">

        <div class="podcast-page-backdrop">
            <div class="podcast-page-overlay">
                <div class="podcast-page-person">
                    ZWP - NATHAN NELSON
                </div>
            </div>
        </div>

            <div class="podcast-title">
                Nathan Nelson on Clean Coding and Clean Living
            </div>

        <div class="podcast-player-date">
            14/10/15
        </div>
        <div class="podcast-player">
        <div class="podcast-main-image">
        </div>
        <iframe width="100%" height="100" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228216029&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=falsee&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;sharing=false&amp;download=false&amp;cookie_policy=false"></iframe>

        <div class="podcast-main-p">
            Nathan Nelson is a hugely talented full stack developer and designer. He shares his journey from photoshopping newspapers at school to leading the end-to-end software development for million dollar products.
            <br><br>
            Nathan has a passion for clean code and clean living. Over the years he has learnt the importance of building and openly sharing projects. He believes full immersion is the best way to learn anything. Leading a healthy lifestyle, Nathan has adopted intermittent fasting and kindly shares his knowledge of a variety of successful diets.
            <br><br>
            An innovator, inspiration and absolute legend.
            <br> <br>
            <a href="http://instagram.com/nazzanuk" target="_blank">
            <i class="fa fa-instagram"></i>
            </a>
            <a href="https://uk.linkedin.com/in/nathannelsonweb" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="http://www.jamahiel.com/" target="_blank">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
        </div>

    </div>
</div>