[data-template = "podcast-page-zander-01"]{
  .podcast-page-zander-01{
    position: relative;
    background: white;

    .podcast-page-backdrop{
      position: relative;
      height: 650px;
      background-image: url('/public/img/profile/z-ny.jpg');
      background-size: cover;
      background-position: center;
      .podcast-page-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
       bottom: 0;
        background: rgba(0,0,0,.5);
        .podcast-page-person{
          position: relative;
          text-align: center;
          color: white;
          padding-top: 250px;
          font-sizE: 40px;
        }
      }
    }

      .podcast-title {
        position: relative;
        padding: 50px 0;
        width: 600px;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        color: grey;
        margin: 0 auto;
      }

    .podcast-player-date{
      width: 600px;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: #00d4b4;
      margin: 0 auto;
    }

    .podcast-player{
      padding-top: 10px;
      width: 600px;
      text-align: center;
      font-size: 30px;
      line-height: 40px;
      color: grey;
      margin: 0 auto;

      .podcast-main-image{
        position: relative;
        height: 350px;
        background-image: url('/public/img/profile/z-podcast.jpg');
        background-size: cover;
        background-position: center;
      }
      .podcast-main-p{
        padding-top: 75px;
        padding-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        color: grey;
        text-align: left;
        margin: 0 auto;
      }
    }

  }
}