<div data-template = "podcast-page-zander-01">
    <div class="podcast-page-zander-01">

        <div class="podcast-page-backdrop">
            <div class="podcast-page-overlay">
                <div class="podcast-page-person">
                    ZWP - STARTUPS & STARTLINES
                </div>
                <div class="blog-post-social">
                    <i class="fa fa-facebook social-icon"></i>
                    <i class="fa fa-twitter social-icon"></i>
                    <i class="fa fa-linkedin social-icon"></i>
                </div>
            </div>
        </div>

            <div class="podcast-title">
                AN OPTIMISTIC OUTBURST ON LIFE IN STARTUPS & STARTLINES
            </div>

        <div class="podcast-player-date">
            12/11/15
        </div>
        <div class="podcast-player">
        <div class="podcast-main-image">
        </div>
            <iframe width="100%" height="125" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/227638053&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=falsee&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;sharing=false&amp;download=false&amp;cookie_policy=false"></iframe>
        <div class="podcast-main-p">
            Zander shares his transition from studying Fine Art at Oxford University to beginning two startups in NYC and London. His failures guided him to his obsession with tech, code and design.<br><br>  Zander briefly reflects on his childhood nostalgia which stimulated his passion for ultra marathons and living a healthy lifestyle full of adventure.
        </div>
        </div>

    </div>
</div>