<div data-template="podcast-content">
    <div class="podcast-content" id="podcast-content">

        <div class="col-md-12">
            <div class="podcast-title">
                STARTUPS & STARTLINES
            </div>
            <div class="podcast-tag">
                Each week Zander delves into everything in and around startups and startlines. Collaborating with some
                of the brightest and most forward thinking minds in health, fitness, nutrition, tech, entertainment &
                entrepreneurship. Intimate, deep and often intense, these are not interviews. They are collaborative
                conversations that aim to inspire, provoke and challenge you to become obsessed with startups and
                startlines.
            </div>
               </div>
        <div class="col-md-6">
            <a href="/podcast/nathan.html">
                <div class="podcast-back" style=" background-image: url('/public/img/profile/nathan-n.jpg');">
                    <div class="podcast-overlay">
                        <div class="podcast-name">
                            NATHAN NELSON
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/podcast/amelia.html">
                <div class="podcast-back" style=" background-image: url('/public/img/profile/amelia.jpg');">
                    <div class="podcast-overlay">
                        <div class="podcast-name">
                            AMELIA WINGER BEARSKIN
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/podcast/adam.html">
                <div class="podcast-back" style=" background-image: url('/public/img/profile/adam.jpg');">
                    <div class="podcast-overlay">
                        <div class="podcast-name">
                            ADAM SHABBIR
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/podcast/startups-startlines.html">
                <div class="podcast-back" style=" background-image: url('/public/img/profile/z-podcast.jpg');">
                    <div class="podcast-overlay">
                        <div class="podcast-name">
                            STARTUPS & STARTLINES
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>