<div data-template="blog-post-005" data-ng-controller="BlogPost005Ctrl">
    <div class="blog-post-hero">
        <div class="blog-post-hero-overlay">
            <div class="blog-post-title">
                DEVELOP & MONETISE YOUR ONLINE PRESENCE TO MAXIMISE YOUR OFFLINE EXISTENCE
            </div>
            <div class="read-time">
                8 MINUTE READ
            </div>

            <div class="share">
                TAKE CARE & SHARE
            </div>
            <div class="blog-post-social">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.zanderwhitehurst.co/blog/flat-icon.html"
                   target="_blank"><i class="fa fa-facebook social-icon"></i>
                </a>
                <a href="https://twitter.com/home?status=Build%20a%20flat%20icon%20in%2050%20seconds%20http%3A//www.zanderwhitehurst.co/blog/flat-icon.html%20%40zwhitehurst"
                   target="_blank" style=" background: #1aa7e2;">
                    <i class="fa fa-twitter social-icon"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.zanderwhitehurst.co/blog/flat-icon.html&title=&summary=&source="
                   style=" background: #007ab8;" target="_blank">
                    <i class="fa fa-linkedin social-icon"></i>
                </a>
                <a href="https://plus.google.com/share?url=http%3A//www.zanderwhitehurst.co/blog/flat-icon.html
                   target=" _blank" style=" background: #df4f3f;">
                <i class="fa fa-google-plus social-icon"></i>
                </a>
            </div>

        </div>

    </div>

    <div class="blog-post-content">
        <div class="blog-post-date">
            26/10/15
        </div>
        <div class="blog-post-subtitle">
            <strong>Develop & Monetise your Digital Presence to Maximise your Offline Existence</strong>
        </div>
        <div class="blog-post-content">
            I believe our digital existence is separate from our offline presence. How we present ourselves online and
            whom we connect with on connected devices differs from real life collisions. This is the beauty of
            developing your digital presence; it is an opportunity to experiment, connect with new communities and
            escape from your offline routine. If executed properly, your online presence can also fund an autonomous,
            offline lifestyle
            <br><br>
            I am keen to share my main learning’s from developing my digital presence and how i have started monetising,
            specifically through my online portfolio. This may not appeal to everyone but the process can be applied by
            anyone. If you are not a
            developer or designer, you can build a digital presence. In fact, it should be easier for you given you are
            unlikely to fuss over frameworks or pixel perfection.
            <br><br>
            <img src='/public/img/profile/me-howdy.jpg'>
            <br><br>
            Swift introduction to myself to give context; I studied at Oxford University and New York University and
            have founded two startups. It’s not all play; in my spare time I run ultra marathons and am currently
            training for the worlds toughest footrace. Within the tech industry I am what’s known as a “Full Stack”
            product developer and designer. Firstly I want to express I am fairly new to software development having
            previously explored UX & hardware. I am far from a tiptop developer. However, I have taught myself and have
            thankfully been guided by some great online and offline communities in London and NYC.
            <br><br><br>
            </strong> <span class="title">Hard for software</span></strong>
            <br>
            Before I discuss why having a digital presence has helped me and can help you. I want to express why I
            switched from hardware to software. I became frustrated with hardware’s elongated feedback loop. In order to
            grow your digital presence, your feedback loop must be tighter than a bull fighters budgie smugglers. I am
            obsessed with big, real-time data. For me, it should influence user-led, iterative design. Moreover, it is
            inspiring for development teams to see, in the studio, real time metrics of user engagement and overall
            application performance; it injects confidence into every product team. Obviously there is real-time data in
            hardware, however because continuous integration is impossible due its physical nature, it is difficult to
            rapidly iterate.
            <br><br><br><br>
            <img src='/public/img/profile/surprise.jpg'>
            <br><br><br><br>
            Unlike software, due to its physicality hardware deployment tends to take the form of “big bang” releases.
            It is therefore no surprise that the day it is pushed it is already 6 months out of date. Depending on your
            product team, this can also be the case in software, which is why building your own online portfolio gives
            you the opportunity to explore iterative development.
            <br><br>
            Prior to pushing the product over the line, growth hacking and user testing hardware platforms is very
            costly and time consuming. Getting users geographically present alone can be a nightmare. Additionally a
            swift search on <a href="http://jobsite.com"><strong>Job Site</strong></a> demonstrates the excess demand
            for software developers compared to hardware.
            With wearable technology on the rise, this may not be the case forever as the two mediums begin to
            intertwine. But for now, I have fallen in love with the rapid nature of software development, its global
            user base and helpful communities.
            <br><br>
            Lets dive into the benefits of developing your digital presence with an online portfolio. User testing has
            shown that for growth hacking and marketing reasons, ‘portfolio’ has more gravitas and maturity than
            website. From now on, instead of talking about your ‘website’ share it as your ‘portfolio’. This is
            subjective so feel free to call it your ‘web app’ if you fancy, just don’t expect much engagement.
            <br><br>
            At the core, your portfolio is an exhibition of your interests, funneled into one domain. Documenting these
            interests does not always have to be text based. A portfolio should merge multiple channels. For instance my
            portfolio showcases my inventions, I host a podcast and blog about life in startups and on start lines. The
            reason for this is simple. The variety of medium retains users and encourages them to explore instead of
            bounce off.
            <br><br><br>
            <strong><span class="title">Be my guest</span></strong>
            <br>
            I encourage you to think creatively about which mediums to merge on your portfolio, but its useful to have
            more than one. Based on data, audio, text and video work nicely for me; it doesn’t place all the pressure on
            you. Guest podcasts and blog posts ensure your content is fresh and frequent. Additionally, guests are free
            marketing tools driving traffic to your platform through their network. Their experience and opinions also
            teach you far more than you can teach yourself. The favor works both ways, so requesting to be a guest
            blogger or podcaster is something I actively do. Furthermore, these guests are the foundations of your
            online community. Yes, they are your first school friends who will be there with you through thick and thin
            so treat them, as you would wish to be treated.
            <br><br><br><br>
            <img src='/public/img/profile/guest-01.jpeg' class="bigimg">
            <br><br><br><br>
            Learning on the job is obviously a must. As developers, to keep up with modern dev practices you should be
            constantly challenging yourself at work. However, depending on the product team or client request, your tech
            stack can be limiting and frustrating. For this reason, developing your own portfolio is essential. An
            absolute must actually. It allows you to explore new frameworks and excel whilst developing something you
            enjoy. It is an opportunity to dive into what you adore doing, permitting you to push the boundaries of your
            digital and technical knowledge.
            <br><br>
            As well as technical self-development, developing your online portfolio gives you self-confidence. Rarely in
            life do we openly discuss our achievements, aspirations and interests. We definitely don’t amongst family
            and friends because they should already know you and it would be plain odd. Also, discussing such things in
            work would just be weird. The only time I tend to do this is offline during interviews. Even then, due to
            interview infrequency I usually don’t phrase my learning’s correctly and forget a lot of what I have done.
            Your portfolio is a portal to express yourself and host all of the above.
            <br><br><br><br>
            <img src='/public/img/profile/user.jpg'>
            <br><br><br><br>
            Everyday, as developers and designers we are building something and usually collaborating on the go. Sadly,
            our brains are not cloud
            storage; we cannot remember every product input. However, your online portfolio is essentially personalized,
            open source cloud storage, styled how you wish. Taking the time to jot all everyday learning’s down has
            benefited me massively; it shapes my opinion on the subject at hand, ensures I don’t forget what I built
            three years ago and within a working environment allows me to maturely express myself. The sooner you build
            your digital presence the better. Everyone says this but it is true. Build it, learn from it and iterate it.
            <br><br><br>
            <strong><span class="title">Develop yourself</span></strong>
            <br>
            Building your portfolio is, then, in effect building yourself. It is also a very fun activity. Just like
            facebook flashes up with memories, flicking back through your portfolio over the years should be like
            opening an old school book. You will giggle at some of your early content and framework choices. But
            remember, those experiences have helped shape you so don’t be embarrassed. My best boss to date taught me
            the importance of leaving digital breadcrumbs for others to gobble up. Your digital presence should be an
            ongoing project that leads others to you.
            <br><br>
            When blogging, although it is useful self-documentation, consider how your experiences can help someone
            else. You should aim to create fresh content that helps to positively influence others. With podcasts, a
            good base is to create a conversation with your guest that can be continued by your listeners. Remember to
            make them intimate, deep and often intense; these are not interviews. They are collaborative conversations
            that aim to inspire, provoke and challenge your listeners.
            <br><br><br>
            <strong> <span class="title">Stay up to date with the market</span> </strong>
            <br>
            Another huge benefit of having a dominant digital presence is job opportunities and differentiating yourself
            from the crowd. External learning, development and documentation exhibit passion. Passion is something every
            company wants at their heart. Since developing and deploying my online portfolio I have received job
            opportunities at least once a day. This is not for everyone, but I think it is beneficial to know the state
            of the market. Furthermore, this comes back to confidence; it demonstrates you are in demand and removes the
            risk from testing the job market yourself.
            <br><br>
            If you are, like me, interested in startup culture and product development then building your digital
            presence is the perfect introduction to concepts of growth hacking and monetization. I have built a lot of
            personal projects. Some for fun, others I seriously believe in. However, maintaining constant concentration
            and growing a user base for these is tricky. It requires immense self-discipline, determination and time.
            <br><br>
            The splendor of your online portfolio is it is you. It is your online presence and therefore, you are
            contracted to improve and grow it. In order to do this you must learn, for yourself, how to successfully
            growth hack your digital presence. I am writing a separate piece on how to do this effectively and
            efficiently at a low cost; so do check back for that one. Growth hacking my portfolio has been immensely
            useful; my budget is my own and I am not restricted by brand rules on growth and monetization. I now know
            how to share through the right channels and have become addicted to engaging, maintaining and growing my
            portfolios user base.
            <br><br><br>
            <span class="title">Always on, always connected analytics</span>
            <br>
            To prove I am not fluffing, check out the data from this past week. It is far from
            viral but it demonstrates how consistent connection with your community is crucial. As well as this, the
            next time you have a web app idea, host the landing page on your portfolio and get concept feedback through
            your portfolio. Spreading yourself too thinly with numerous .io or .co domains is very demanding, especially
            if you are an extrepreneur and have a full time job which I do. This is why I share all of my products
            through my portfolio and then develop them further if feedback and beta testing goes well. For instance,
            <a href="http://commonpence.co"><strong>Common Pence</strong></a> began on my portfolio and following
            positive feedback and user testing; it evolved to live
            separately.
            <br><br><br><br>
            <img src='/public/img/profile/analytics.jpg'>
            <br><br><br><br>
            Placing analytics on your portfolio is a must; it ensures you are up to speed with your users. As well as
            this, it gets you hooked on your own platforms success. Given the ‘always on, always connected’ era we exist
            in, you can check anywhere how many users are present, where users are spending time and where they are not.
            <br><br>
            This real-time data has the ‘notification’ effect i.e you grow a desire to drive more users to your platform
            and improve upon yesterdays engagement. Many product teams leave analytics till the end. For me, the sooner
            you implement them the better. I opt for <a href="http://google.co"><strong>Google Analytics</strong></a>;
            their UI and mobile app is a thrill.
            <br><br><br>
            <strong><span class="title">Monetise wise</span></strong>
            <br>
            A few of your friends may take the mick to begin but if you opt to monetize your portfolio they will soon
            become very quiet. If executed properly, your digital existence can generate more than a typical offline
            job. The most successful platforms out there generate £100,000+ a year. In order to reach these heights you
            have to start somewhere, but remember to start. Importantly, do nott expect millions in minutes. However,
            the
            sooner you amplify your online presence, the sooner you can maximize your offline existence. It is very
            achievable to fund your entire lifestyle from online earnings. I am little off as you will read, but each
            day is a step closer to an entirely autonomous, offline existence.
            <br><br>
            <br><br>
            <img src='/public/img/profile/explore.jpeg' class="bigimg">
            <br><br>
            <br><br>
            Developing my online portfolio has given me a core understanding of basic monetization techniques. I am not
            claiming to write
            a monetization manual, but my learning’s may help a few people.
            <br><br>
            Once you are confident in traffic I encourage everyone to experiment with <a href="http://adsense.com">Google
                Adsense</a>. On my platform, on
            average, each advert at the base of every page roughly makes £1.08 per click and sometimes a click can
            convert to £3.22. This is not much as a one off, but as traffic increases, this can become lucrative.
            Obviously, within tech, we spot adverts easily. However, amongst our community, if people enjoyed a post
            they often show their love by clicking one of these adverts; they know every little helps. Last month my
            platform made £768.09 and it is predicted to make close to £8500 this year. Hopefully, this amount should
            only increase year on year as your community grows inline with your content.
            <br><br><br><br>
            <img src='/public/img/profile/adsense.jpg'>
            <br><br><br><br>
            <strong> <span class="title">Ebook</span></strong>
            <br>
            Other monetization routes to explore are <a href="http://amazon.com"><strong>Single Kindle</strong></a>
            e-books, which have a huge success if executed
            properly with proper pre-ordering etc. This option should be explored when you are 6 months in and have a
            core following. I am dyslexic so this has taken me a little longer to ship. But I am releasing my first
            e-book in January – Learn to Code in 20 seconds. I shall document the process here so do check back.
            <br><br>
            On a personal note, I have been exploring product placement with my ads page. However this requires a lot
            more care and curating, but can be very profitable if you find the right product. Monetizing your portfolio
            is a personal venture that has to be adapted to your audience.
            <br><br><br><br>
            <img src='/public/img/profile/pre-order.jpg' class="bigimg">
            <br><br><br><br>
            An offline monetization route that has grown
            from my portfolio is a chilled <a href="http://codelounge.co"<strong>Code Lounge</strong></a> that I run
            each Monday evening from my living room. This may
            not be for everyone but I find it a great practice and have met some cool people running it. The course has
            four sessions, each one costing £100. Every session has 5 folks so each month code lounge generates £2000.
            This is shifting your online existence offline but the key is sharing knowledge with a targeted audience.
            For instance, <a href="http://codelounge.co"><strong>Code Lounge</strong></a> teaches working professionals
            how to code and the core fundamentals of joining
            startups. The course would not have gained gravitas if I had not have built my digital presence.
            <br><br><br>
            <strong><span class="title">That's a wrap</span></strong>
            <br>
            To conclude, I have learnt a lot from building my digital presence. It has allowed me to experiment with a
            variety of frameworks, user test specific UI and most importantly I have met some amazing people along the
            way. As well as this it has inspired me to push my online presence to help me maximize my offline existence.
            I encourage everyone to give it a go and please share your feedback and learning’s in the comments below.
            Thanks for taking the time to read this.
            <br><br>
            <strong>A few inspiring online portfolios to check out: </strong>
            <br><br>
            <strong><a href="http://samslover.com">Sam Slover</a></strong> – Founder of Sage
            <br><br>
            <strong><a href="http://maxma.com">Max Ma</a></strong> – Google X
            <br><br>
            <strong><a href="http://richroll.com">Rich Roll</a></strong> – Athlete and Author
        </div>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
             var disqus_config = function () {
             this.page.url = http://www.zanderwhitehurst.co/blog/why-i-turned-down-a-job-from-google.html;  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };
             */
            (function () {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//zanderwhitehurst.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//zanderwhitehurst.disqus.com/count.js" async></script>
    </div>
</div>