[data-template = "common-pence"]{
  .common-pence-hero{
    position: relative;
    height: 650px;
    background-image: url('/public/img/projects/background-cp.jpg');
    background-position: center;
    background-size: cover;
    .overlay-common-pence {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, .3);

      .product-title {
        position: relative;
        font-size: 50px;
        color: white;
        line-height: 60px;
        text-align: center;
        margin: 0 auto;
        padding-top: 250px;
      }

      a {
        text-decoration: none;
        color: white;
        .lifestyle-p {
          position: relative;
          font-size: 15px;
          line-height: 35px;
          margin: 0 auto;
          text-align: center;
          margin-top: 15px;
          padding-top: 5px;
          width: 250px;
          border: 1px solid white;
          color: white;
          cursor: pointer;
          i {
            display: inline;
            padding-left: 5px;
            font-size: 15px;
            line-height: 35px;
            color: white;
          }
          &:hover {
            background: #ffc200;
          }

        }
        }



        .blog-post-social{
          position: relative;
          text-align: center;
          margin: 0 auto;
          padding-top: 20px;

          a {
            margin: 0 10px;
            padding: 10px 2px;
            text-decoration: none;
            background: #486dab;

            &:hover {
              border-bottom: 5px solid rgba(0,0,0,.5);
            }

            i {
              display: inline-block;
              font-size: 15px;
              margin: 0 14px;
              color: white;
              margin-top: 25px;
              cursor: pointer;
            }
          }
        }

    }


    }

  .common-pence-what{
    position: relative;
    .common-pence-what-title{
      font-size: 40px;
      line-height: 50px;
      padding: 100px 50px 50px 50px;
      text-align: center;
    }
    .common-pence-what-tag{
      font-size: 20px;
      line-height: 30px;
      margin: 0 auto;
      width: 700px;
      text-align: center;
      padding-bottom: 50px;
    }
  }

  .break-title{
    position: relative;
    font-size: 15px;
    line-height: 25px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: grey;
    border: 1px solid grey;
    padding-top: 5px;
    background: white;
  }

  .line{
    height: 1px;
    background: grey;
    position: absolute;
    top: 68px;
    left: 15px;
    right: 15px;
  }

  .why-icon{
    font-size: 25px;
    color: grey;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    img{
      width: 200px;
      height: auto;
    }
  }
  .why-title{
    font-size: 40px;
    line-height: 50px;
    padding: 25px 50px 25px 50px;
    text-align: center;
  }
  .why-tag{
    font-size: 18px;
    line-height: 28px;
    margin: 0 auto;
    width: 350px;
    text-align: center;
    padding-bottom: 100px;
  }

  .pad {
    padding: 0;
    .break-image {
      position: relative;
      height: 600px;
      background-image: url('/public/img/projects/cp-filler.jpg');
      background-position: center;
      background-size: cover;
    }
  }

  .logo-n{
    width: 75%;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
    img{
      width: 100%;
      height: auto;
    }
  }
}