<div data-template="bio-ed" data-ng-controller="BioEdCtrl">
    <div class="bio-ed">
        <div class="col-md-12 pad">
            <div class="education-back">
                <i class="fa fa-graduation-cap"></i>
                <div class="education">EDUCATION
                </div>
            </div>
        </div>
            <div class="col-md-4 pad">
                <div class="uni-box">
                    <div class="icon">

                    </div>
                    <div class="uni-tag">
                        New York University
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad">
                <div class="uni-box">
                    <div class="icon">

                    </div>
                    <div class="uni-tag">
                        Oxford University
                    </div>

                </div>

            </div>
            <div class="col-md-4 pad">
                <div class="uni-box">
                    <div class="icon">

                    </div>
                    <div class="uni-tag" >
                        Harrow School
                    </div>
                </div>

            </div>
    </div>
</div>