<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Zander Whitehurst</title>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/hub-on-hub.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
    <link rel="shortcut icon"
          href="http://zanderwhitehurst.co/favicon-z.ico"
          type="image/x-icon" />

    <meta property="og:title"
          content="Zander Whitehurst | Startups & Startlines" />


    <meta property="og:url"
          content="http://www.zanderwhitehurst.co" />

    <meta property="og:description" content="Young British Entrepenuer 2015, Startup Founder, Ultra Athlete, Podcast Host & Healthy Lifestyle Advocate Zander Whitehurst" />


    <meta property="og:image"
          content="http://zanderwhitehurst.co/public/img/profile/z-work.jpg" />

    <meta property="og:image"
          content="http://zanderwhitehurst.co/public/img/profile/z-surf-two.png" />

    <meta property="og:image"
          content="http://zanderwhitehurst.co/public/img/profile/z-01.jpg" />

</head>
<body data-ng-app="hub-on-hub" class="<%= content.class %>">

<!--<script src="/public/lib.js"></script>-->
<!--<script src="/public/hub-on-hub.js"></script>-->
<!--<script type="text/javascript">-->
    <!--if (typeof pio === 'undefined') {-->
        <!--var pio = window.pio || {};-->
    <!--}-->

    <!--pio.pageName = "nhd: <%= content.analyticsTag %>"-->
<!--</script>-->
<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="/index.html" class="tabs">HOME</a></li>
            <li><a href="http://codelounge.xyz" target="_blank" class="tabs">LEARN</a></li>
            <li><a href="/lifestyle.html" class="tabs">BLOG</a></li>
            <li><a href="/podcast.html" class="tabs">PODCAST</a></li>
            <li><a href="/bio.html" class="tabs">LIFE</a></li>
            <li><a href="/press.html" class="tabs">APPEARANCES</a></li>
        </ul>
        <div class="social">
            <li>
                <a class="first" href=""><i class="fa fa-twitter social-icons"></i></a>
                <a href=""><i class="fa fa-linkedin social-icons"></i></a>
                <a href=""><i class="fa fa-github social-icons"></i></a>
                <a href=""><i class="fa fa-pencil social-icons"></i></a>
            </li>
        </div>
    </div>
</div>
<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <div class="logo">
            <div class="name">
                <a href="index.html">
                ZANDER<span>WHITEHURST</span>
                </a>
            </div>
        </div>

        <div class="header-tabs">
            <a href="/press.html">
                APPEARANCES
            </a>
        </div>


        <div class="header-tabs">
            <a href="/bio.html">
                LIFE
            </a>
        </div>
        <div class="header-tabs">
            <a href="/podcast.html">
                PODCAST
            </a>
        </div>

        <div class="header-tabs">
            <a href="/lifestyle.html">
                BLOG
            </a>
        </div>


        <div class="header-tabs">
            <a href="http://codelounge.xyz">
                LEARN
            </a>
        </div>

        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <!--<div class="menu-txt">Menu</div>-->
        </div>
    </div>
</div>

<div data-template = "lifestyle-hero">
    <div class="lifestyle-hero">
        <div class="overlay-lifestyle">
            <div class="lifestyle-tag">
                LIFESTYLE
            </div>
            <a href="http://instagram.com/zanderwhitehurst" target="_blank">
            <div class="lifestyle-p">
                JOIN THE JOURNEY
            </div>
            </a>
        </div>
    </div>
</div>
<div data-template = "lifestyle-blog">
    <div class="lifestyle-blog">
        <div class="lifestyle-title">
            GRIP IT & RIP IT
        </div>
        <div class="lifestyle-p">
            Zander is obsessed with optimising rare time - the period enveloping typical work hours. From ultra's to surfing, he combines extreme exercise with extreme eating, opting for plant based wellness over artificial suppliments. Zander's visual blog includes short sharp posts briefly discussing his lifestyle in startups and on startlines.
        </div>

        <div class="col-md-12">
            <div class="blog-post-backdrop">
                <div class="blog-post-overlay">
                    <div class="blog-read">
                        1 min read | 01/10/15
                    </div>
                    <div class="blog-post-title">
                        RIDE THE WAVE
                    </div>
                    <div class="blog-post-about">
                        SURFING THE WEB IS OFTEN NEGATIVELY DISTRACTING AND A WASTE OF CRUCIAL RARE TIME. SURFING MOTHER NATURES WEB OF WAVES IS DISTRACTING FOR ALL THE RIGHT REASONS...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="blog-post-backdrop" style="background-image: url('/public/img/profile/web.png')">
                <div class="blog-post-overlay">
                    <div class="blog-read">
                        2 min read | 20/09/15
                    </div>
                    <div class="blog-post-title">
                        STORM VS NORM
                    </div>
                    <div class="blog-post-about">
                       GIVEN IT'S PASTEL PEREFECTION, SUBLIME TEXT IS A POPULAR TEXT EDITOR FOR BEGINNERS. HOWEVER, IN THE WORDS OF AN INFAMOUS POET, 'THERE'S A STORM COMING'...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="blog-post-backdrop" style="background-image: url('/public/img/profile/sass.png')">
                <div class="blog-post-overlay">
                    <div class="blog-read">
                        2 min read | 13/09/15
                    </div>
                    <div class="blog-post-title">
                        SASS CLASS
                    </div>
                    <div class="blog-post-about">
                        DEVELOPERS AND DESIGNERS SHOULD STOP SHARING # AND BEGIN EXCHANGING $. SASS IS FEATURE RICH AND A PERFECT FRAMEWORK FOR OPTIMISING A MINIMALIST STYLESHEET...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="blog-post-backdrop" style="background-image: url('/public/img/profile/run.jpg')">
                <div class="blog-post-overlay">
                    <div class="blog-read">
                        2 min read | 6/09/15
                    </div>
                    <div class="blog-post-title">
                       KILL YOUR TV AND RUN
                    </div>
                    <div class="blog-post-about">
                        KILL YOUR TV AND GO FOR A RUN. ROUTINELY RUNNING HAS ALTERED MY LIFE. I BEGAN RUNNING BECAUSE I MISSED MY CHILDHOOD OF LIMITLESS ENERGY, ADVENTURE...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <div data-template = "hero-recent" >
 <div class="hero-recent">
     <div class="col-md-12">
         <div class="line">

         </div>
         <div class="recent-podcast">
             RECENT PODCASTS
         </div>
     </div>

     <div class="col-md-3">
         <a href="/podcast.html">
         <div class="podcast-backdrop" style=" background-image: url('/public/img/profile/lauren.jpg');">
             <div class="podcast-small-overlay">
                 <div class="podcast-name">
                        LAUREN MORETON
                 </div>
             </div>
         </div>
         </a>
     </div>
     <div class="col-md-3">
         <a href="/podcast.html">
         <div class="podcast-backdrop">
             <div class="podcast-small-overlay">
                 <div class="podcast-name">
                    JAMIE SPARKS
                 </div>
             </div>
         </div>
         </a>
     </div>
     <div class="col-md-3">
         <a href="/podcast.html">
         <div class="podcast-backdrop" style=" background-image: url('/public/img/profile/kyle.jpg');" >
             <div class="podcast-small-overlay">
                 <div class="podcast-name">
                    KYLE GREENBERG
                 </div>
             </div>
         </div>
         </a>
     </div>
     <div class="col-md-3">
         <a href="/podcast.html">
         <div class="podcast-backdrop" style=" background-image: url('/public/img/profile/james.png');">
             <div class="podcast-small-overlay">
                 <div class="podcast-name">
                    JAMES WARE
                 </div>
             </div>
         </div>
         </a>
     </div>
 </div>


 </div>
 <div data-template = "hero-recent-post" >
 <div class="hero-recent-post">
     <div class="col-md-12">
         <div class="line">

         </div>
         <div class="recent-post">
             RECENT POSTS
         </div>
     </div>

     <div class="col-md-3">
         <a href="/lifestyle.html">
         <div class="post-backdrop" style=" background-image: url('/public/img/profile/surf-01.png');">
             <div class="post-small-overlay">
                 <div class="post-name">
                        RIDE THE WAVE
                 </div>
             </div>
         </div>
         </a>
     </div>
     <div class="col-md-3">
         <a href="/lifestyle.html">
         <div class="post-backdrop">
             <div class="post-small-overlay">
                 <div class="post-name">
                    STORM VS NORM
                 </div>
             </div>
         </div>
         </a>
     </div>
     <div class="col-md-3">
         <a href="/lifestyle.html">
             <div class="post-backdrop" style=" background-image: url('/public/img/profile/sass.png');">
                 <div class="post-small-overlay">
                     <div class="post-name">
                    SASS CLASS
                 </div>
             </div>
         </div>
         </a>
     </div>
     <div class="col-md-3">
         <a href="/lifestyle.html">
             <div class="post-backdrop" style=" background-image: url('/public/img/profile/run.jpg');">
                 <div class="post-small-overlay">
                     <div class="post-name">
                    ROUTINE RUN
                 </div>
             </div>
         </div>
         </a>
     </div>
 </div>


 </div>
<div data-template = "code-banner">
    <div class="col-md-12 pad">
    <div class="code-banner">
        <div class="code-banner-text">
           LEARN THE FUNDAMENTALS OF STARTUPS AND HOW TO CODE, IN COMFORT!
        </div>
        <a href="http://codelounge.xyz">
        <div class="code-banner-join">
                JOIN CODE LOUNGE
        </div>
        </a>
    </div>
    </div>
</div>
<!--footer.ejs-->
<div data-template="footer">
    <footer id="footer">
        <div class="col-md-12 footer-tag">
            <a class="twitter-foot" href="http://twitter.com/zwhitehurst" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="linked-foot" href="http://instagram.com/zanderwhitehurst" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="github-foot" href="http://linkedin.com/zanderwhitehurst" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="email-foot" href="https://soundcloud.com/ZanderWhitehurst">
                <i class="fa fa-soundcloud"></i>
            </a>
            <a class="email-foot" href="https://github.com/ZanderWhitehurst">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </footer>
</div>

<script>
    //        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //
    //        ga('create', 'UA-62818193-1', 'auto');
    //        ga('send', 'pageview');
</script>

<script>  Reveal.initialize(); </script>
<script src="/public/lib.js"></script>
<script src="/public/hub-on-hub.js"></script>


<!--<script type="text/javascript">_satellite.pageBottom();</script>-->
</body>
</html>