[data-template="bio-ed"]{
  .bio-ed{
    position:relative;
    .pad {
      padding: 0;
      .education-back {
        height: 180px;
        background: #F4F4F4;
        i{
          position: absolute;
          top: 40px;
          font-size: 30px;
          left: 0;
          right: 0;
          text-align: center;
          color: #1DB7A8;
        }

        .education {
          position: absolute;
          top: 80px;
          font-size: 30px;
          left: 0;
          right: 0;
          text-align: center;
          color: grey;
        }

      }
    }

    .pad{
      padding: 0;
    .uni-box {
      border: 1px dotted grey;
      height: 200px;
      cursor: pointer;
      &:hover{
        .overlay-box{
          opacity: 1;
        }

      }
      .icon {
        margin: 0 auto;
        margin-top: 90px;
        font-size: 20px;
        color: grey;
        line-height: 30px;
        text-align: center;
      }

      .uni-tag {
        text-align: center;
        margin: 0 auto;
        color: grey;
        line-height: 30px;
        font-size: 30px;
      }

      .overlay-box{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(30, 157, 167, .8);
       opacity: 0;
        .overlay-uni-tag{
          text-align: center;
          margin: 0 auto;
          color: white;
          line-height: 30px;
          font-size: 25px;
        }
        .top{
          margin-top:80px;
        }
      }
    }
    }
  }
}