<div data-template="bio-ed">
    <div class="bio-ed">
        <div class="col-md-12 pad">
            <div class="education-back">
                <i class="fa fa-graduation-cap"></i>
                <div class="education">Education
                </div>
            </div>
        </div>
            <div class="col-md-4 pad">
                <div class="uni-box">
                    <div class="icon">

                    </div>
                    <div class="uni-tag">
                        New York University
                    </div>
                    <div class="overlay-box">

                        <div class="overlay-uni-tag top">
                            Interactive Technology
                        </div>
                        <div class="overlay-uni-tag">
                            Masters
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pad">
                <div class="uni-box">
                    <div class="icon">

                    </div>
                    <div class="uni-tag">
                        Oxford University
                    </div>
                    <div class="overlay-box">

                        <div class="overlay-uni-tag top">
                            Fine Art
                        </div>
                        <div class="overlay-uni-tag">
                            2:1
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 pad">
                <div class="uni-box">
                    <div class="icon">

                    </div>
                    <div class="uni-tag">
                        Harrow School
                    </div>
                    <div class="overlay-box">

                    <div class="overlay-uni-tag top">
                        Art | History | Economics
                    </div>
                    <div class="overlay-uni-tag">
                        A* | A | A
                    </div>
                    </div>
                </div>

            </div>
    </div>
</div>