[data-template = "bio"]{

  .bio{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: lightseagreen;
    cursor: pointer;
  }

  .name{
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    padding: 13px 0;
    color: white;
  }

  .btn{
    cursor: pointer;
  }

  .pad{
    padding: 0;
  }


}