[data-template="bio"]{
  .bio{
    position: relative;
    height: 100vh;
    background-image: url('/public/img/profile/profile-pic.png');
    background-size: cover;
    background-position: center;

    .bio-tag-01{
      position: absolute;
      top: 30%;
      right: 15%;
      left: 15%;
      background: rgba(0,0,0,.5);
      line-height: 40px;
      font-size: 25px;
      color: white;
      padding: 50px;
      text-align: center;
      border-radius: 5px;
    }
  }
}