[data-template = "bio"]{

  .bio{
    position: relative;
  }

  .name{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background:#2F98C1;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    padding: 13px 0;
    color: white;
  }

  .btn{
    cursor: pointer;
  }


  .profile{
    position: relative;
    height: 300px;
    img{
      display: block;
      margin: auto;
      width: 250px;
      margin-top: 125px;
    }
  }

  .profile-tag{
    text-align: left;
    font-size: 16px;
    height: 300px;
    margin: 125px 40px 0 0;

  }


}