<div data-template="bio" data-ng-controller="BioCtrl">
    <div class="bio">
        <div class="col-md-12">
            <div class="name">
                Zander Whitehurst <i class="fa fa-angle-down btn"></i>
            </div>
        </div>


        <div class="col-md-5 col-sm-12">
            <div class="profile">
                <img src="/public/img/profile/profile.png" alt="headshot">
            </div>

        </div>

        <div class="col-md-3 col-sm-6">
            <div class="profile-tag">
                Zander Whitehurst is an award-winning designer and developer based in London. He has a passion for combining big data with design to enhance our interaction with the envrionment. Zander works on technology projects spanning Digital, Mobile, Web and Connected Hardware. His experience in the Silicon Alley has proved useful in helping London transition into a tech centric city.
                <br>
                <br>
                </div>
            </div>

        <div class="col-md-3 col-sm-6">
            <div class="profile-tag">

                Outside of the studio he has an obsession with sport, captaining South England schoolboys and playing for the Oxford Blues XI. More recently he is exploring the benefits of yoga whilst training for an ultra marathon.
            </div>

        </div>

        <div class="col-md-1">

        </div>


    </div>
</div>