<div data-template ="bio">
    <div class="bio">
        <div class="bio-tag-01">
            Zander was named one of the top 10 young British entrepreneurs by Founders Forum in 2015.
        He is an award winning designer and developer who believes firmly in open source innovation and agile development.
    </div>

    </div>
</div>