<div data-template="bio" data-ng-controller="BioCtrl">
    <div class="bio">
        <div class="col-md-12">
            <div class="name">
                Zander Whitehurst <i class="fa fa-angle-down btn"></i>
            </div>
        </div>
    </div>
</div>