<div data-template = "bio">
    <div class="bio">
        <div class="col-md-12">
            <div class="name">
            Zander Whitehurst
                </div>
        </div>
        <div class="col-md-12 pad">
            <div class="ed">
            Education
            </div>
        </div>

      <div class="row">

        <div class="col-md-1">
            <div class="uni-icon">
                <i class=" fa fa-graduation-cap fa-3x"></i>
            </div>
        </div>
            <div class="col-md-3">
                <div class="uni">

                <div class="uni-tag">
                    Masters
                </div>
                <div class="uni-tag">
                New York University
                </div>
                <div class="uni-tag">
                    Interactive Technology
                </div>
                <div class="uni-tag">
                    2013-2015
                </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="uni-info">
                Zander undertook his Masters with a Fellowship Scholarship. Combining his 3D, 2D and UX design skills with technology expanded his observation for innovation. He founded ‘It's Common Pence’ an RFID donation panel, allowing commuters to tap spare change from their oyster card to charity. Additionally, he 3D printed a wearable solar powered headband that gathers brain waves with GPS location, allowing him to design and 3D Print an emotive map of New York City. Zander worked on technology projects spanning Digital, Mobile, Web and Connected Hardware
                </div>
            </div>


        </div>

        </div>

    </div>
</div>