<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="/index.html" class="tabs">Home</a></li>
            <li><a href="/projects.html" class="tabs">Projects</a></li>
            <li><a href="/bio.html" class="tabs">Bio</a></li>
            <li><a href="/press.html" class="tabs">Press</a></li>
            <li><a href="/collaborate.html" class="tabs">Collaborate</a></li>
        </ul>
        <div class="social">
            <li>
                <a class="first" href=""><i class="fa fa-twitter social-icons"></i></a>
                <a href=""><i class="fa fa-linkedin social-icons"></i></a>
                <a href=""><i class="fa fa-github social-icons"></i></a>
                <a href=""><i class="fa fa-pencil social-icons"></i></a>
            </li>
        </div>
    </div>
</div>