<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="">About Hub</a></li>
            <li><a href=""><span class="fa fa-fw fa-angle-down pull-right"></span> Locations</a></li>
            <li><a href=""><span class="fa fa-fw fa-angle-down pull-right"></span> Hotels</a></li>
            <li><a href="">Our App</a></li>
            <li><a href="">Careers</a></li>
        </ul>
    </div>
</div>