<div data-template="hero" data-ng-controller="HeroCtrl" >
<div class="hub-hero" >

    <div class="lightbox" id="text">

        <div class="box">
            <a class="close" href="#"><i class="fa fa-times"></i></a>

            <div class="title">
            SLOW DOWN SPEED RACER
            </div>

            <div class="content">
                Have a <span>free</span> Flat Whitehurst on me.
                <br><br>
                <img src="/public/img/profile/drop-off-icon.png">
                <br><br>
                Download my <span>free</span> flat icon set today.

                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                    <form action="//xyz.us11.list-manage.com/subscribe/post?u=0f08ae7e014c18f2429bd8d1f&amp;id=24cb829a9c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="ENTER EMAIL ADDRESS">
                            </div>
                            <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_0f08ae7e014c18f2429bd8d1f_24cb829a9c" tabindex="-1" value=""></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>


        </div>

    </div>
    <div class="hero-main">
    <div class="overlay">

        <div class="hub-hero-txt">
       <!--     <div class="tag">HOWDY, I'M ZANDER WHITEHURST </div>
            <div class="about"> </div>
           <div class="jump">
               Jump to <a href="/bio.html"><span class="bio-jump">Bio</span> </a> | <a href="/projects.html"><span class="project-jump">Projects</span></a> | <a href="/press.html"><span class="press-jump">Press</span></a> | <a href="/collaborate.html"><span class="collaborate-jump">Collaborate</span></a>
           </div>-->

            <i class="fa fa-lightbulb-o"></i>
            <div class="hero-main-tag">
                LAUNCH
            </div>
            <a href="/products.html">
            <div class="hero-main-p">CHECK OUT PRODUCTS <i class="fa fa-chevron-right"></i> </div>
            </a>


        </div>

    </div>
        </div>

    <div class="col-md-4 pad">
        <div class="back-l-one">
        <div class="overlay-small">
            <i class="fa fa-code"></i>
            <div class="hero-tag">
                LEARN
            </div>
            <a href="/blog.html">
            <div class="hero-p">
                    SCAN MY BLOG
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-4 pad">
        <div class="back-l-two">
        <div class="overlay-small">
            <i class="fa fa-headphones"></i>
                <div class="hero-tag">
                    LISTEN
                </div>
            <a href="/podcast.html">
            <div class="hero-p">
                TUNE IN TO PODCAST
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 pad">
        <div class="back-l-three">
        <div class="overlay-small">
            <i class="fa fa-heart"></i>

                <div class="hero-tag">
                    LIFE
                </div>
            <a href="/lifestyle.html">
            <div class="hero-p">
                A HEALTHY LIFESTYLE
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
            </div>
        </div>
    </div>
</div>
</div>


