$hub-green : #bed600;
$hub-grey : #363636;
$hub-lighter-grey: #CCC;
$hub-light-grey: #999;
$hub-light-grey: #e3e3e3;
$hub-beige: #f3f1eb;
$hub-rollover-beige: #e6e5D8;
$hub-rollover-dark: rgb(148, 147, 144);