<div data-template="location">
    <div class="locations">
        <div class="col-xs-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background-image:url('https://ununsplash.imgix.net/photo-1420655710207-b092e1b8abe3?fit=crop&fm=jpg&h=950&q=100&w=1250')"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text">London</div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background-image:url('https://c2.staticflickr.com/4/3265/3121510184_356e896a49_b.jpg')"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text">Edinburgh</div>
                    <div class="location-circle"></div>
                </div>
            </div>

        </div>
    </div>
</div>