<div data-template="location">
    <div class="locations" id="scroll">
        <div class="col-md-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#80CAA8"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text"><a href="/projects.html">Projects</a></div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#70BA95"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text">Bio</div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#63AA86"></div>
                    <div class="location-overlay"></div>
                    <i class="fa fa-hack"></i>
                    <div class="location-text">Hacks</div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#5C9B78"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text">Collaborate</div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>

    </div>
</div>