<div data-template="location">
    <div class="locations" id="scroll">
        <div class="col-md-4">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#36A9E0"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text"><a href="/projects.html">Projects</a></div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#34A5D1"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text"><a href="/bio.html">Bio</a></div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background:#2F98C1"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text"><a href="/collaborate.html">Collaborate</a></div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>

    </div>
</div>