[data-template="hero"] {
  .hub-hero {
    //margin-top: 60px;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;

    //background-image: url("https://unsplash.imgix.net/photo-1415829994762-1344c5d2dbe9?fit=crop&fm=jpg&h=1575&q=75&w=1050");

    &:hover {
    }
    //iframe, video {
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  object-fit: cover;
    //}

    //img {
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //}
  }

  .hub-hero-img {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    .img-fade {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  //  #hero-vid {
  //    position: absolute;
  //    bottom: 50%;
  //    right: 50%;
  //    -webkit-transform: translateX(-50%) translateY(-50%);
  //    transform: translateX(-50%) translateY(-50%);
  //    min-width: 100%;
  //    min-height: 100%;
  //    width: auto;
  //    height: auto;
  //    z-index: -1000;
  //    overflow: hidden;
  //  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom,  rgba(160,211,234,0.8) 0%,rgba(160,211,234,0.8) 100%);
  }

  .hub-hero-txt {
    color: #f4f4f4;
    font-size: 45px;
    text-align: center;

  }

  .tag {
    position: absolute;
    text-align: center;
    top:40%;
    left: 0;
    right: 0;
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 80px;
    line-height: 32px;
  }

  .about{
    position: absolute;
    text-align: center;
    top:50%;
    left: 0;
    right: 0;
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 58px;
    line-height: 32px;

  }

  .scroll{
    position: absolute;
    text-align: center;
    top:60%;
    left: 0;
    right: 0;
    padding: 0 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 32px;
  }

  .scroll-icon{
    position: absolute;
    top: 63%;
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  .discover-hub {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: -50px;
  }

  .discover {
    display: inline-block;

  }
}

