@media(max-width: 767px){
  [data-template="hero"]{

    .hub-hero {

      .overlay {

        .hub-hero-txt {

          .tag {
            position: absolute;
            text-align: center;
            top: 40%;
            left: 0;
            right: 0;
            padding: 0 20px;
            margin-bottom: 30px;
            font-size: 17px;
            line-height: 40px;
          }

          .about {
            position: absolute;
            text-align: center;
            top: 45%;
            left: 0;
            right: 0;
            padding: 0 20px;
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 50px;

          }

          .jump {
            position: absolute;
            text-align: center;
            top: 54%;
            font-size: 14px;
            line-height: 20px;
            color: white;
            left: 0;
            margin: 0 auto;
            right:0;
            span {
              color: #EF5B82;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}