<div data-template="hero">
<div class="hub-hero" data-ng-controller="HeroCtrl" >
    <!--<div class="hub-hero-img">-->
        <!-- -->
        <!--&lt;!&ndash;<div>class="tag" </div>&ndash;&gt;-->
        <!--<div class="img-fade" style="background-image:url('/public/img/home_01.png')" ></div>-->
        <!--<div class="img-fade" style="background-image:url('https://download.unsplash.com/28/sands.jpg')" ></div>-->
        <!--<div class="img-fade" style="background-image:url('http://lcnlegal.com/wp-content/uploads/2014/02/Marathon-des-Sables.jpg')" ></div>-->
    <!--</div>-->



    <!--<iframe src="https://player.vimeo.com/video/30555090?autoplay=1&loop=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <!--<video id="hero-vid" autoplay loop muted>-->
    <!--&lt;!&ndash;<source src="/public/video/hub-hero-vid.mp4" type="video/mp4"> &ndash;&gt;-->
    <!--Your browser does not support the video tag.-->
    <!--</video>-->
    <div class="overlay">

        <div class="hub-hero-txt">
            <div class="tag">Howdy, I'm Zander Whitehurst </div>
            <div class="about"> A designer & developer in London & NYC</div>
           <div class="jump">
               Jump to <a href="/bio.html"><span class="bio-jump">Bio</span> </a> | <a href="/projects.html"><span class="project-jump">Projects</span></a> | <a href="/press.html"><span class="press-jump">Press</span></a> | <a href="/collaborate.html"><span class="collaborate-jump">Collaborate</span></a>
           </div>


        </div>

    </div>
</div>
</div>


