[data-template="press"]{
  .press{
    height: 100vh;
    background: #A459AA;
    position: relative;
    .press-box{
      position: absolute;
      top: 16%;
      left: 15%;
      right: 15%;
      bottom: 16%;
      background: rgba(0,0,0,.5);
      border-radius: 10px;
      .press-title{
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        padding: 10px 0;
        color: white;
      }
      .press-pack{
        line-height: 28px;
        font-size: 16px;
        color: white;
        padding: 5px 20px;
        text-align: left;
        a{
          text-decoration: none;
          color: #EF5B82;
          cursor: pointer;
          &:hover {
            color: #D65476;
          }
        }
      }
    }
  }
}