<div data-template ="press">
    <div class="press">
        <div class="press-box">
            <div class="press-title">
                Featured Press
            </div>
            <div class="press-pack">
             <a href="http://www.fastcoexist.com/3038172/now-you-can-donate-your-leftover-subway-fare-to-charity-with-a-simple-swipe" target="_blank">  Now you can donate your leftover subway money to charity </a> | Fast Company
               <br> <a href="http://www.hertsad.co.uk/news/grove-house/revolutionary_new_way_to_donate_to_charity_devised_by_harpenden_inventor_1_4046069" target="_blank">  Revolutionary New Way to Give to Charity </a> | Evening Standard
               <br> <a href="http://www.refinery29.com/2014/11/78038/b3d-head-3d-printed-vibrator" target="_blank">  Zander Whitehurst has designed a present your partner will never forget. </a> | Refinery 29
                <br> <a href="http://metro.co.uk/2014/11/18/benedict-cum-berbatch-this-is-a-vibrator-in-the-shape-of-sherlocks-head-4953231/" target="_blank"> Designer Zander Whitehurst launched B3D HEAD with couples in long distance relationships</a> | Metro
                <br> <a href="http://elitedaily.com/news/world/vibrator-shaped-lovers-head/851368/" target="_blank"> One entrepreneur just singlehandedly redefined the meaning of “giving head.”</a> | Elite Daily
                <br> <a href="http://www.sickchirpse.com/vibrator-shaped-partners-head/" target="_blank"> A London based entrepeneur from New York has had one of the best ideas ever </a> | Sick Chirpse
                <br> <a href="http://thecreatorsproject.vice.com/nl/blog/met-de-common-pence-doneer-je-met-je-ov-chipkaart" target="_blank"> This device puts the fun in fundraisisng  </a> | Vice
                <br> <a href="http://techmash.co.uk/2015/04/15/making-a-donation-to-charity-is-easy-with-common-pence/" target="_blank"> Making a donation to charity is easy with Common Pence </a> | Tech Mash
                <br> <a href="http://www.huffingtonpost.com/2014/11/14/donate-subway-fare_n_6160828.html" target="_blank"> Brilliant Innovation Lets London Subway Riders Donate Leftover Fares </a> | Huffington Post
                <br> <a href="https://lockerdome.com/6904522652136769/7151041058844948" target="_blank"> A British designer has come up with a device that will let you easily donate to charity </a> | Lockerdome
                <br> <a href="https://futurevision.rga.com/2014/11/leftover-train-fare-donate-it-with-a-swipe/" target="_blank"> Donate it with a swipe </a> | RGA
                <br> <a href="http://intoconnection.com/author/zander-whitehur/" target="_blank"> Zander Whiterhurst is a technologist, designer and entrepreneur from England </a> | IntoConnection

            </div>
        </div>
    </div>
</div>