@media (max-width: 767px ){
  [data-template = "project-post"]{
    .project-post{
      position: relative;

      .pad{
        padding: 0;
        .project-title-backdrop {
          height: 300px;
          background: #f0f5f2;


          .project-page-title {
            text-align: center;
            font-size: 45px;
            line-height: 50px;
            color: #647370;
            padding-top: 125px;
            padding-bottom: 10px;

          }



          .project-underline{
            height: 5px;
            background: #647370;
            width: 150px;

            margin: 0 auto;
          }
        }

        .project-backdrop {
          height: 400px;
          background-image: url("/public/img/projects/background-cp.jpg");
          background-size: cover;
          background-position: center;
          transition: 0.3s;
          .project-overlay {
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            cursor: pointer;
            &:hover{
              background: rgba(0,0,0,.8);
              .project-page-title{
                opacity: 0;
              }
              .project-page-tag{
                opacity: 0;
              }


              .project-page-tech-stack{
                opacity: 1;
              }
              .project-page-tech{
                opacity: 1;
              }
            }

            .project-page-title {
              text-align: center;
              font-size: 25px;
              line-height: 55px;
              color: white;
              padding-top: 125px;
              z-index: 10;
              opacity: 1;
            }
            .project-page-tag {
              text-align: center;
              font-size: 16px;
              line-height: 25px;
              color: white;
              padding: 25px 50px 0 50px;
              z-index: 10;
              opacity: 1;
            }

            .project-page-tech-stack {
              text-align: center;
              font-size: 35px;
              line-height: 55px;
              color: #d860b6;
              position: absolute;
              top: 130px;
              left: 50px;
              right: 50px;
              opacity: 0;
            }

            .project-page-tech {
              text-align: center;
              font-size: 16px;
              line-height: 25px;
              color: #d860b6;
              position: absolute;
              top: 200px;
              left: 50px;
              right: 50px;
              opacity: 0;
            }
          }
        }

        .project-page-overlay{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,.4);
        }

        .break{
          position: relative;
          height: 25px;
          background: #f0f5f2;
        }

        .b3d{
          background-image: url("/public/img/projects/b3dhead.jpg");
        }

        .hwdy{
          background-image: url("/public/img/projects/hwdy.jpg");
        }

        .alumnow{
          background-image: url("/public/img/projects/alumnow.jpg");
        }

        .hat{
          background-image: url("/public/img/projects/background-h@.jpg");
        }

        .splinter{
          background-image: url("/public/img/projects/splinter.jpg");
        }

        .ocado{
          background-image: url("/public/img/projects/ocado.jpg");
        }

        .y{
          background-image: url("/public/img/projects/y-design.jpg");
        }

        .doll{
          background-image: url("/public/img/projects/doll.jpg");
        }

        .balloon{
          background-image: url("/public/img/projects/balloon.jpg");
        }
      }
    }
  }
}