<div data-template="project-post" data-ng-controller="ProjectPageCtrl">
    <div class="project-post">
        <div class="col-md-12 pad">
            <div class="project-title-backdrop">
                <div class="project-page-title">
                    PRODUCTS
                </div>
                <div class="project-underline">

                </div>

            </div>
        </div>
        <div class="col-md-12 pad">
            <div class="project-backdrop">
                <div class="project-overlay">
                    <div class="project-title">
                        COMMON PENCE
                    </div>
                    <div class="project-page-tag">
                        Common Pence is a donation platform utilising contactless and NFC technology to simplify
                        fundraising.
                    </div>

                    <div class="project-page-tech-stack">
                        TECH STACK
                    </div>
                    <div class="project-page-tech">
                        Arduino | Angular | C++ | Raspberry Pi | RFId | NFC | Angular | Sass | Bootstrap | 3D Printing |
                        Rhino | Illustrator | Photoshop | GA | Github
                    </div>
                    <a class="arrow" href="/products/common-pence.html">
                        <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                    </a>


                </div>
            </div>
        </div>

            <div class="col-md-12 pad">
                <div class="project-backdrop alumnow">
                    <div class="project-overlay">
                        <div class="project-title">
                            ALUMNOW
                        </div>
                        <div class="project-page-tag">
                            alumnow is a crowdfunding platform encouraging alumni to effortless give back
                        </div>
                        <div class="project-page-tech-stack">
                            TECH STACK
                        </div>
                        <div class="project-page-tech">
                            Angular | JQuery | GA | Node | GULP | Sass | CSS | Bootstrap | Velocity | Illustrator |
                            Photoshop | Bower | JSON | Github
                        </div>
                        <a class="arrow" href="http://alumnow.co/">
                            <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                        </a>
                    </div>
                </div>
            </div>



                <div class="col-md-12 pad">
                    <div class="project-backdrop b3d">
                        <div class="project-overlay">
                            <div class="project-title">
                                B3D HEAD
                            </div>
                            <div class="project-page-tag">
                                B3D HEAD is the first 3D printed personalised vibrator.
                            </div>
                            <div class="project-page-tech-stack">
                                TECH STACK
                            </div>
                            <div class="project-page-tech">
                                Arduino | Rhino | Python | Kinect | Makberbot | Illustrator | 3D Printing | Illustrator
                                | Photoshop | Mailchimp | GA | Github
                            </div>
                            <a class="arrow" href="http://b3dhead.co/">
                                <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                            </a>   </div>
                    </div>
                </div>




                <div class="col-md-12 pad">
                    <div class="project-backdrop hwdy">
                        <div class="project-overlay">
                            <div class="project-title">
                                HWDY
                            </div>
                            <div class="project-page-tag">
                                HWDY is a real time data dashboard for agile product teams to visually track their
                                velocity
                            </div>
                            <div class="project-page-tech-stack">
                                TECH STACK
                            </div>
                            <div class="project-page-tech">
                                Angular | JQuery | GA | Node | GULP | Sass | CSS | Bootstrap | Velocity | Illustrator |
                                Photoshop | D3 | Github
                            </div>

                        </div>
                    </div>
                </div>



                    <div class="col-md-12 pad">
                        <div class="project-backdrop hat">
                            <div class="project-overlay">
                                <div class="project-title">
                                    H@
                                </div>
                                <div class="project-page-tag">
                                    H@ is a 3D printed, solar powered wearable that tracks your brain waves and
                                    movement.
                                </div>
                                <div class="project-page-tech-stack">
                                    TECH STACK
                                </div>
                                <div class="project-page-tech">
                                    Arduino | Solar | EEG | Rhino 3D Printing | Rhino | Illustrator | Photoshop | GA |
                                    Github
                                </div>
                                    <a class="arrow" href="https://vimeo.com/89628671">
                                        <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                                    </a>

                            </div>
                        </div>
                    </div>


                        <div class="col-md-12 pad">
                            <div class="project-backdrop splinter">
                                <div class="project-overlay">
                                    <div class="project-title">
                                        SPLINTER
                                    </div>
                                    <div class="project-page-tag">
                                        Splinter is a 3D printed wall that syncs with with your google calendar, acting
                                        as a physical reminder.
                                    </div>
                                    <div class="project-page-tech-stack">
                                        TECH STACK
                                    </div>
                                    <div class="project-page-tech">
                                        Arduino | GA | GC | 3D Printing | Rhino | Illustrator | Photoshop | GA | Github
                                        | Processing
                                    </div>

                                        <a class="arrow" href="https://vimeo.com/92847796">
                                            <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                                        </a>

                                </div>
                            </div>
                        </div>






                            <div class="col-md-12 pad">
                                <div class="project-backdrop ocado">
                                    <div class="project-overlay">
                                        <div class="project-title">
                                            OCADO
                                        </div>
                                        <div class="project-page-tag">
                                            Redesigned and developed Ocados online shopping experience.
                                        </div>
                                        <div class="project-page-tech-stack">
                                            TECH STACK
                                        </div>
                                        <div class="project-page-tech">
                                            Angular | JQuery | Sass | Gulp | CSS | AJAX | JSON | Bootstrap | Illustrator
                                            | Photoshop | GA | Github
                                        </div>
                                    </div>
                                </div>
                            </div>



                                <div class="col-md-12 pad">
                                    <div class="project-backdrop y">
                                        <div class="project-overlay">
                                            <div class="project-title">
                                                YIELDIFY DESIGN
                                            </div>
                                            <div class="project-page-tag">
                                                Designed and developed Yieldify's open source Design Dashboard.
                                            </div>
                                            <div class="project-page-tech-stack">
                                                TECH STACK
                                            </div>
                                            <div class="project-page-tech">
                                                Angular | JQuery | Node | Bower | Sass | Gulp | CSS | AJAX | JSON |
                                                Bootstrap | Illustrator | Photoshop | GA | Github
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 pad">
                                    <div class="project-backdrop doll">
                                        <div class="project-overlay">
                                            <div class="project-title">
                                                DOLL3D
                                            </div>
                                            <div class="project-page-tag">
                                                Doll3d are 3D Printed Russian Dolls. Each has data embedded from
                                                #PussyRiot Tweets.
                                            </div>
                                            <div class="project-page-tech-stack">
                                                TECH STACK
                                            </div>
                                            <div class="project-page-tech">
                                                Processing | AJAX | Javascript | Rhino | Illustrator | 3D Printing | GA
                                                | Github
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 pad">
                                    <div class="project-backdrop balloon">
                                        <div class="project-overlay">
                                            <div class="project-title">
                                                COLD AIR BALLOON
                                            </div>
                                            <div class="project-page-tag">
                                                Zander's Cold Air Balloon installation was exhibited in the Saatchi
                                                Gallery for the Worlds Schools Art Prize
                                            </div>
                                            <div class="project-page-tech-stack">
                                                ART STACK
                                            </div>
                                            <div class="project-page-tech">
                                                Used Materials | After Effects | Mapped Projection
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
</div>



