<div data-template="web" data-ng-controller="WebCtrl">
    <div class="web" >

        <div class="col-sm-12 share-btn">
            <i class="fa fa-share-alt share"> &nbsp; Share </i>

        </div>

        <div class="share-overlay">

            <div class="share-this">Share this page <i class="fa fa-times cross"></i></div>
            <div class="post-this"> <img src="/public/img/svg/Hub_icons_01_icon_facebook.svg">Post to Facebook </div>
            <div class="post-this"> <img src="/public/img/svg/Hub_icons_01_icon_twitter.svg">Share on Twitter</div>
            <div class="post-this"> <img src="/public/img/svg/Hub_icons_01_icon_copylink.svg">Copy Link</div>

            <div class="share-overlay-point">

            </div>
        </div>

    </div>
</div>