@media (max-width: 767px) {
  [data-template="hero-project"] {

    .hero-project{

    }
    .slider-wrap{

    }

    .slider-nav{
      width: 20px;
      height: 20px;
    }

    #slider-left{

    }
    #slider-right{

    }

    .slide-wrap{
      height: 100vh;
      width: 100vw;
    }

    .slider-slide-wrap{

    }

    .projects{
      font-size: 30px;
      top: 5px;
      display: none;
    }

    .project-nav{
      top: 47%;
      font-size: 14px;
      margin: 0 25px;

      .right-nav{
        display: none;
      }

      .left-nav{

      }
    }

    .project-overlay{
      top: 100px;
      left: 50px;
      right: 50px;

      .project-title{
        margin: 10px 2px 0 2px;
        font-size: 20px;
        text-align: center;
        color: #F2C0E7;

      }

      .project-p{
        margin: 5px 10px 0 10px;
        font-size: 16px;
        display: none;
      }

      .project-tech{
        margin: 10px 10px 0 10px;
        font-size: 18px;
        text-align: center;
      }

      .project-stack{
        margin: 0 10px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }

      .project-more{
        margin: 30px 10px 0 10px;
        font-size: 18px;
        text-align: center;
      }

      .project-site {
        margin: 0 10px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }

      .project-press{
        margin: 20px 10px 0 10px;
        font-size: 18px;
        text-align: center;
      }

      .project-pack{
        margin: 0 10px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }


    }

  }

  }