<div data-template="hero-project">
    <div class="hero-project" data-ng-controller="HeroProjectCtrl">

        <div class="slider-wrap">
            <div class="slide-wrap">
                <div class="slider-slide-wrap shown" >
                    <div class="projects">
                        Projects
                    </div>
                    <div class="project-nav">
                        Whack the right and left circles to navigate through projects
                        <i class="fa fa-arrow-right right-nav"></i>
                    </div>

                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/background-cp.jpg)">
                    <div class="project-overlay" >
                        <div class="project-title">
                            Common Pence
                        </div>
                        <div class="project-p">
                            Common Pence is a donation platform utilising contactless and NFC technology to simplify
                            fundraising.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Angular | C++ | Raspberry Pi | RFId | NFC | Angular | Sass | Bootstrap | 3D Printing | Rhino | Illustrator | Photoshop | GA | Github
                        </div>

                        <div class="project-press">
                            Press
                        </div>

                        <div class="project-pack">
                           <span>Wired</span> | <span>Huffington Post</span> |<span> Fast Company</span> | <span> Yahoo </span> |<span> Vice </span> |<span> Scoop </span> |<span> Lockerdome </span> | <span> Nationswell </span> |
                           <span>TrendHunter </span>
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="http://www.commonpence.co/" target="_blank">
                           <span>Project Website</span>
                            </a>
                        </div>


                    </div>



                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/alumnow.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            alumnow
                        </div>
                        <div class="project-p">
                           alumnow is a crowdfunding platform encouraging alumni to effortlessly give back to projects they believe in. Utilising the mentra of collaboration in donation it has 30,000 monthly users and is in Alpha testing.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            HTML5 | CSS3 | Sass | Angular | JQuery | Bootstrap | Javascript | Node | Mongo DB | AWS | Adobe Creative Suite | Google Analytics | Github
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="http://www.alumnow.co/" target="_blank">
                            Project Website
                                </a>
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/hub.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            Hub by Premier Inn
                        </div>
                        <div class="project-p">
                           Hub is Whitbreads latest branch of interactive hotels. Zander helped develop the multi-page site which has over a million monthly visitors. He also helped build the ios and android app which syncs with your stay, allowing users to adjust their rooms settings. Additionally, the hotels now interlink with ones apple watch.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            HTML5 | CSS3 | Sass | Angular | Gulp | Node | Mongo DB | Scala | Bower | AEM | Google Analytics | Github
                        </div>

                        <div class="project-press">
                            Press
                        </div>

                        <div class="project-pack">
                            <span>Guardian</span> | <span>Telegraph</span> |<span>London Town</span> | <span> Tech World</span> |<span> Real Business </span>
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="http://www.hubhotels.co.uk/" target="_blank">
                            Project Website
                                </a>
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/background-h@.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js | Github
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="https://vimeo.com/89628671" target="_blank">
                            Project Short
                               </a>
                        </div>


                        </div>


                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/b3dhead.png)">
                    <div class="project-overlay" >
                        <div class="project-title">
                           B3D HEAD
                        </div>
                        <div class="project-p">
                            B3D HEAD is the first 3D printed personalised vibrator. Our concept of personal pleasure toys stems from long-distance relationships. Even if you are continents apart, you can now give head to your loved one, with your own head.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Github
                        </div>

                        <div class="project-press">
                            Press
                        </div>

                        <div class="project-pack">
                            <span>Refinery 29</span> | <span>Metro</span> |<span>Sick Chirpse</span> | <span> Daily Mail </span> |<span> Vice </span> |<span> Tech Mash </span>
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="http://www.b3dhead.com/" target="_blank">
                            Project Website
                                </a>
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/splinter.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            Splinter
                        </div>
                        <div class="project-p">
                           Splinter is an engineering 3D printed prototype exploring the opportunity of syncing hardware with software to generate a notifying environment. Using the Arduino Yun and Google's API Calendar, Splinter cells gyrate when an event is near, acting as a physical reminder.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js | Github
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="https://vimeo.com/92847796" target="_blank">
                            Project Short
                            </a>
                        </div>


                    </div>

                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/ocado.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                           Ocado Basket
                        </div>
                        <div class="project-p">
                            Rigorously User Tested and Developed a cleaner UI for Ocado's online shopping experience for mobile and tablet users. Zander's UI Design won the client bid and he assisted in developing the platform, which is undergoing BETA and Alpha testing for their latest mobile app.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Illustrator | Axure | Photoshop | Sketch | Invision | HTML5 | CSS3 | Sass | Angular | Google Analytics | Github
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>


                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/academy.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            ANDacademy
                        </div>
                        <div class="project-p">
                           A Single Page Application summarising the experience of ANDigital's ANDacademy, which is an intensive training programme teaching the fundamentals of agile development and scrum. The Web App was built using full stack tech and is content manageable through Word Press.
                        </div>
                        <div class="project-tech">
                            Tech Stack
                        </div>
                        <div class="project-stack">
                            HTML5 | CSS3 | Javascript | JQuery | Angular | Gulp | Node | AWS | Google Analytics | Github
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            <a href="http://www.andigital.com/" target="_blank">
                            Project Website
                            </a>
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/NL.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                           New Look Digital
                        </div>
                        <div class="project-p">
                            As part of an engagement with New Look Digital, Zander provided a series of digital assets for their agile transformation. The flat icon set is used across their new digital business model.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Illustrator | Photoshop | Axure | Angular | Javascript | Sass | Gulp | Bower | AWS
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
<a href="https://github.com/ZanderWhitehurst/Flat-Icons" target="_blank">
                            Project Link
</a>
                        </div>


                    </div>

                </div>



            </div>
        </div>
        <div id="slider-left" class="slider-nav" ></div>
        <div id="slider-right" class="slider-nav"></div>


    </div>

</div>