<div data-template="hero-project">
    <div class="hero-project" data-ng-controller="HeroProjectCtrl">

        <div class="slider-wrap">
            <div class="slide-wrap">
                <div class="slider-slide-wrap shown" >
                    <div class="projects">
                        Projects
                    </div>
                    <div class="project-nav">
                        Whack the right and left circles to navigate through projects
                        <i class="fa fa-arrow-right right-nav"></i>
                    </div>

                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/background-cp.jpg)">
                    <div class="project-overlay">
                        <div class="project-title">
                            Common Pence - Innovation in Donation
                        </div>
                        <div class="project-p">
                            Common Pence is a donation platform utilising contactless and NFC technology to simplify
                            fundraising.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Angular | C++ | Raspberry Pi | RFId | NFC | Angular | Sass | Bootstrap
                        </div>

                        <div class="project-press">
                            Press
                        </div>

                        <div class="project-pack">
                            Wired | Huffington Post | Fast Company | Yahoo | Vice | Scoop | Lockerdome | Nationswell |
                            TrendHunter
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Website
                        </div>


                    </div>



                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/background-h@.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                        </div>


                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/b3dhead.jpg)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/tiles.jpg)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/splinter.jpg)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>
                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/ocado.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/app.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/balloon.jpg)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/effinorama.jpg)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/hwdy.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

                <div class="slider-slide-wrap" style="background-image: url(/public/img/projects/RFP.png)">
                    <div class="project-overlay">
                        <div class="project-title">
                            H@ - Emotive Mapping
                        </div>
                        <div class="project-p">
                            How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.
                        </div>
                        <div class="project-tech">
                            Tech Stack

                        </div>
                        <div class="project-stack">
                            Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js
                        </div>

                        <div class="project-more">
                            Explore more
                        </div>

                        <div class="project-site">
                            Project Short
                        </div>


                    </div>

                </div>

            </div>
        </div>
        <div id="slider-left" class="slider-nav" ></div>
        <div id="slider-right" class="slider-nav"></div>


    </div>

</div>