<div data-template = "press-hero">
    <div class="press-hero">
        <div class="press-overlay">
            <div class="featured-icon">
                <i class=" fa fa-newspaper-o"></i>
            </div>
            <div class="press-tag">
                FEATURED
            </div>
            <div class="press-p">
                DIGITAL AND PRINT
            </div>
        </div>
    </div>
</div>