<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= content.title %></title>

    <meta name="description" content="<%= content.description %>"/>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/hub-on-hub.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
</head>
<body data-ng-app="hub-on-hub" class="<%= content.class %>">

<!--<script src="/public/lib.js"></script>-->
<!--<script src="/public/hub-on-hub.js"></script>-->
<!--<script type="text/javascript">-->
    <!--if (typeof pio === 'undefined') {-->
        <!--var pio = window.pio || {};-->
    <!--}-->

    <!--pio.pageName = "nhd: <%= content.analyticsTag %>"-->
<!--</script>-->