<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="/index.html" class="tabs"> <i class="fa fa-home"></i>HOME</a></li>
            <li><a href="http://codelounge.xyz" target="_blank" class="tabs">  <i class="fa fa-code"></i> LEARN</a></li>
            <li><a href="/lifestyle.html" class="tabs"> <i class="fa fa-camera"></i> BLOG</a></li>
            <li><a href="/podcast.html" class="tabs"> <i class="fa fa-headphones"></i> PODCAST</a></li>
            <li><a href="/bio.html" class="tabs">  <i class="fa fa-heart"></i> LIFE</a></li>
            <li><a href="/press.html" class="tabs">  <i class="fa fa-newspaper-o"></i> APPS</a></li>
        </ul>
        <div class="social">
            <li>
                <a class="first" href="http://twitter.com/zwhitehurst" target="_blank"><i class="fa fa-twitter social-icons"></i></a>
                <a href="http://linkedin.com/zanderwhitehurst" target="_blank"><i class="fa fa-linkedin social-icons"></i></a>
                <a href="http://github.com/zanderwhitehurst" target="_blank"><i class="fa fa-github social-icons"></i></a>
                <a href="http://instagram.com/zanderwhitehurst" target="_blank"><i class="fa fa-instagram social-icons"></i></a>
            </li>
        </div>
    </div>
</div>