<div data-template="bio" data-ng-controller="BioCtrl">
    <div class="bio">
        <div class="col-md-12 pad">
            <div class="bio-title-backdrop">
                <div class="bio-page-title">
                    STORY
                </div>
                <div class="bio-underline">

                </div>

            </div>
        </div>
        <div class="col-md-12 pad">
            <div class="bio-tag-01">
                Zander is a 23 year old athlete, full stack designer and developer. He studied at Oxford & New York University. Zander was named one of the top 10 young British entrepreneurs by Founders Forum in 2015 having founded numerous successful SaaS & HaaS startups. He is also an ultra marathon runner and world record holder.
            </div>
        </div>
<div class="row">
        <div class="col-md-4 pad">
            <div class="z-bio-block">
                <div class="z-bio-icon">
            <img src="/public/img/profile/z-trophy.png">
                </div>
                <div class="z-bio-tag">
            He is an award winning designer and developer with a passion for simplicity.
            </div>
            </div>
        </div>
        <div class="col-md-4 pad">
            <div class="z-bio-block">
                <div class="z-bio-icon">
                    <img src="/public/img/profile/z-code.png">
                </div>
                <div class="z-bio-tag">
            He believes firmly in open source, data driven design and lean development.
                </div>
            </div>
        </div>
        <div class="col-md-4 pad">
            <div class="z-bio-block">
                <div class="z-bio-icon">
                    <img src="/public/img/profile/z-smile.png">
                </div>
                <div class="z-bio-tag">
                  He is incredibly optimistic and lives a healthy lifestyle in startups & on startlines.
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
