[data-template = "lifestyle-blog"] {
  .lifestyle-blog {
    background: white;

    .lifestyle-title {
      position: relative;
      text-align: center;
      font-size: 30px;
      line-height: 40px;
      color: grey;
      padding-top: 60px;
    }
    .lifestyle-p {
      position: relative;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: grey;
      padding: 50px 100px 100px 100px;
    }

    .vid-container {
      position: relative;
      height: auto;
      margin-top: -9px;

      #bgvid {
        position: relative;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
      }

      .blog-post, .two, .three {
        position: absolute;
        left: 50px;
        width: 600px;
        font-size: 14px;
        line-height: 25px;
        color: white;
        top: 200px;
      }

      .two{
        top: 300px;

      }
    }

    .discuss-box{
      width: 700px;
      margin: 0 auto;
      margin-top: 100px;
      #disqus_thread {
        position: relative;
      }
      #disqus_thread:after {
        content: "";
        display: block;
        height: 55px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: white;
      }
    }
  }
}