<div data-template="lifestyle-blog" data-ng-controller="LifestyleBlogCtrl">
    <div class="lifestyle-blog" id="lifestyle-blog">
        <div class="lifestyle-title">
            GRIP IT & RIP IT
        </div>
        <div class="lifestyle-p">
            Zander is obsessed with optimising rare time. He is an ultra marathon runner and currently training for the
            worlds toughest footrace. Zanders visual blog includes short sharp posts briefly summarising his life in
            startups and on startlines.
        </div>

        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/frieze.webm" type="video/webm">
                <source src="public/img/profile/frieze.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                Flair at the Frieze Art Fair.
                <br><br>
                Having studied Fine Art I enjoy critiquing exhibitions. Predictably this years Frieze curation was flat.
                The contemporary tent was packed with oil and acrylic canvases. Given it is 2015, I associate
                'contemporary' with interactive installations that arouse multiple senses.
            </div>

        </div>


        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/3d.webm" type="video/webm">
                <source src="public/img/profile/3d.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                It's getting hot in here, so 3D print all of your clothes.
                <br><br>
                First print with the crowdfunded craftbot. This print is a simple arduino case using black ABS.
                Household printers are still embryonic in their existence. My passion is embedding data into everyday
                objects meshing python with rhino.
            </div>

        </div>


        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/surf.webm" type="video/webm">
                <source src="public/img/profile/surf.mp4" type="video/mp4">
            </video>

            <div class="blog-post">
                Surfing the web is often negatively distracting and a waste of crucial rare time.
                Surfing mother natures web of waves is distracting for all the right reasons.
                <br><br>
                I began surfing seven days ago. I have fallen in love. Admittedly I spend 10+ hours a day surfing
                my macbook. On a daily basis I stare at images beneath glass and casually flick, ergonomically advanced,
                warm buttons. As you can imagine the tactile pleasure I get from this routine is fairly limiting.
                <br><br>
                <span>
                I gained more pleasure from one afternoon of surfing than one thousand hours of surfing my macbook. Surfing is the
                hardest sport I have ever done.
                <br><br>
                For those of you who don’t know the key to being a good developer is surfing the web effectively. I can
                do this because of practice and failure. Now I am determined to master the waves.
                        </span>
            </div>

        </div>

        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/health.webm" type="video/webm">
                <source src="public/img/profile/health.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                It's time to freshen up with some earthy Ginger and Chilli; health is wealth.
                <br><br>
                London is losing its Summer feeling. A mug of this a day will keep the sniffles at bay. It is absolutely
                crucial with training increasing to 40-60 miles a week to stay fresh and healthy.
            </div>

        </div>


        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/food.webm" type="video/webm">
                <source src="public/img/profile/food.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                Following a flipping dip in temperatures this vietnamese food market, just up from Farringdon, is the
                perfect sinus blaster.
                <br><br>
                For me, street markets offer the freshest alternative to a pre-sunrise prepped packed lunch.
            </div>

        </div>

        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/focus.webm" type="video/webm">
                <source src="public/img/profile/focus.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                The joy of coding is that it can be done anywhere and anytime.
                <br><br>
                My preference is standing but every once in a while I pop a squat and bust out a few lines here and
                there.
                <br><br>
                My favorite place to code is up in the sky, on airplanes or zooming through the towns on bullet trains.
                The confusion when you load your localhost is always overwhelmingly entertaining.
            </div>

        </div>

        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/pol.webm" type="video/webm">
                <source src="public/img/profile/pol.mp4" type="video/mp4">
            </video>

            <div class="blog-post three">
                Making a splash on the pool table. It is such a social feature in any startup and usually the best
                canvas for brainstorming.
                <br><br>
                A lot of my best ideas stem from conversations and tactile experiences. Blank pieces of paper are more
                like fire blankets, restricting the creative flames.
            </div>

        </div>
        <div class="discuss-box">
        <div id="disqus_thread"></div>
        </div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
             var disqus_config = function () {
             this.page.url = http://www.zanderwhitehurst.co/blog/why-i-turned-down-a-job-from-google.html;  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };
             */
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//zanderwhitehurst.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//zanderwhitehurst.disqus.com/count.js" async></script>

    </div>
</div>

</div>
</div>