body {
  background: white;
  color: #6f6f6e;
  font-family: 'ProximaNovaRegular';
  font-size: 18px;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  max-width: 100vw;
  overflow-x: hidden; }

[data-template] {
  display: inline; }

* .fa {
  line-height: inherit !important; }

h1, h2, h3, p {
  font-family: 'AvenirNextRoundedProMed';
  font-family: 'AvenirNextRoundedPro-Reg';
  margin: 0 0 30px;
  padding: 0;
  line-height: 1.5; }

h1 {
  font-size: 36px; }

p {
  font-family: 'ProximaNovaRegular';
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 1.8; }

a {
  color: #8cc9a7; }
  a:hover {
    color: inherit; }

.hub-btn, .hub-btn-grey, .hub-btn-transparent {
  font-family: 'ProximaNovaRegular';
  background: #fbbc00;
  color: #fff;
  border-radius: 3px;
  line-height: 44px;
  height: 44px;
  text-align: center;
  padding: 0 24px;
  display: inline-block;
  font-size: 18px;
  min-width: 144px;
  cursor: pointer;
  text-decoration: none; }
  .hub-btn:hover, .hub-btn-grey:hover, .hub-btn-transparent:hover {
    text-decoration: none; }

.hub-proto-btn {
  line-height: 35px;
  height: 40px;
  background: none;
  color: white;
  border-radius: 40px;
  padding: 0 30px;
  font-size: 25px;
  border: 3px solid white;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
  display: inline-block;
  cursor: pointer; }
  .hub-proto-btn:hover, .hub-proto-btn.green {
    background: #8cc9a7;
    color: #fff;
    border-color: #fff;
    border: 3px solid #8cc9a7; }

.hub-btn-grey {
  background: #6f6f6e;
  color: white; }

.hub-btn-transparent {
  background: transparent;
  color: #8cc9a7;
  border: 1px solid #8cc9a7;
  display: inline-block !important; }
  .hub-btn-transparent:hover {
    background: #8cc9a7;
    color: #6f6f6e !important; }

.anchor {
  display: block;
  position: absolute;
  margin-top: -110px;
  visibility: hidden; }
  @media (max-width: 767px) {
    .anchor {
      margin-top: -88px; } }

.ng-hide:not(.ng-hide-animate) {
  /* this is just another form of hiding an element */
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px; }

.pad-20 {
  padding: 20px; }

.noscroll {
  overflow: hidden; }

[data-template="footer"] #footer {
  background: #FDBB11;
  text-align: center; }
[data-template="footer"] .footer-tag {
  height: 10vh;
  background: #FDBB11;
  text-align: center; }
[data-template="footer"] .social {
  display: inline-block;
  margin: 25px 25px 0 25px;
  color: white;
  cursor: pointer; }
  [data-template="footer"] .social :hover {
    color: #56E2D1;
    background: #56E2D1; }
  [data-template="footer"] .social a {
    text-decoration: none; }

[data-template="header"] .header {
  height: 100px;
  background: none;
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px; }
  [data-template="header"] .header .menu-btn {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 35px;
    z-index: 101; }
    [data-template="header"] .header .menu-btn .fa-bars {
      line-height: 35px !important;
      font-size: 35px;
      width: 30px;
      text-align: center;
      display: inline-block;
      color: white;
      cursor: pointer;
      border-radius: 4px; }
    [data-template="header"] .header .menu-btn .menu-txt {
      line-height: 35px;
      float: right;
      padding: 0 10px;
      display: none;
      color: white; }

[data-template="menu"] .menu-nav {
  width: 150px;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: none; }
  [data-template="menu"] .menu-nav .nav-header {
    height: 70px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    line-height: 60px; }
    [data-template="menu"] .menu-nav .nav-header .nav-close {
      width: 60px;
      text-align: center;
      font-size: 18px;
      line-height: 70px !important;
      display: inline-block;
      cursor: pointer; }
  [data-template="menu"] .menu-nav .social {
    height: 60px;
    border-top: 1px solid #56E2D1;
    margin: 0 0 0 25px; }
    [data-template="menu"] .menu-nav .social li {
      padding: 15px 0; }
    [data-template="menu"] .menu-nav .social a {
      display: inline;
      margin: 50px 0 50px 10px; }
    [data-template="menu"] .menu-nav .social .first {
      margin-left: 0px; }
  [data-template="menu"] .menu-nav ul, [data-template="menu"] .menu-nav li, [data-template="menu"] .menu-nav a {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    display: block; }
  [data-template="menu"] .menu-nav ul li {
    -webkit-transition: all .2s linear;
            transition: all .2s linear;
    margin-bottom: 1px; }
    [data-template="menu"] .menu-nav ul li a {
      color: white;
      line-height: 60px;
      margin: 0 25px;
      margin-right: 0;
      padding-right: 10px;
      -webkit-transition: all .2s linear;
              transition: all .2s linear;
      cursor: pointer;
      text-decoration: none;
      display: inline; }
    [data-template="menu"] .menu-nav ul li:hover {
      background: rgba(25, 25, 25, 0.2);
      border-color: #333;
      border-left: 6px solid #56E2D1; }

[data-template="location"] .locations .location {
  height: 50vh;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  [data-template="location"] .locations .location .location-image, [data-template="location"] .locations .location .location-text, [data-template="location"] .locations .location .location-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out; }
  [data-template="location"] .locations .location .location-overlay {
    z-index: 5; }
  [data-template="location"] .locations .location .location-text {
    position: absolute;
    text-align: center;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
    color: white;
    z-index: 10;
    font-size: 20px; }
    [data-template="location"] .locations .location .location-text a {
      text-decoration: none;
      color: white; }
  [data-template="location"] .locations .location .location-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 125px;
    margin: -65px 0 0 -60px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.3);
    -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
    opacity: 0; }
  [data-template="location"] .locations .location:hover .location-overlay {
    background: transparent; }
  [data-template="location"] .locations .location:hover .location-image {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  [data-template="location"] .locations .location:hover .location-circle {
    opacity: 1; }

[data-template="hero"] .hub-hero {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover; }
[data-template="hero"] .hub-hero-img {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center; }
  [data-template="hero"] .hub-hero-img .img-fade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; }
[data-template="hero"] .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(top, rgba(160, 211, 234, 0.8) 0%, rgba(160, 211, 234, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(160, 211, 234, 0.8) 0%, rgba(160, 211, 234, 0.8) 100%); }
[data-template="hero"] .hub-hero-txt {
  color: #f4f4f4;
  font-size: 45px;
  text-align: center; }
[data-template="hero"] .tag {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 0;
  right: 0;
  padding: 0 30px;
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 32px; }
[data-template="hero"] .about {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 30px;
  margin-bottom: 30px;
  font-size: 58px;
  line-height: 32px; }
[data-template="hero"] .scroll {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 0;
  right: 0;
  padding: 0 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 32px; }
[data-template="hero"] .scroll-icon {
  position: absolute;
  top: 63%;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  cursor: pointer; }
[data-template="hero"] .discover-hub {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: -50px; }
[data-template="hero"] .discover {
  display: inline-block; }

@media (max-width: 767px) {
  [data-template="hero"] .hub-hero-text {
    font-size: 18px; }
  [data-template="hero"] .tag {
    font-size: 28px;
    top: 45%; }
  [data-template="hero"] .about {
    font-size: 20px; }
  [data-template="hero"] .scroll {
    top: 85%;
    font-size: 12px; }
  [data-template="hero"] .scroll-icon {
    top: 87%; } }

[data-template="hero-project"] .hero-project {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  font-family: 'AvenirNextRoundedProMed'; }
[data-template="hero-project"] .slider-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll; }
[data-template="hero-project"] .slider-nav {
  position: absolute;
  top: 48%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  cursor: pointer;
  z-index: 4; }
[data-template="hero-project"] #slider-left {
  left: 20px;
  -webkit-transition: .4s;
          transition: .4s; }
  [data-template="hero-project"] #slider-left:hover {
    background-color: rgba(255, 255, 255, 0.4); }
[data-template="hero-project"] #slider-right {
  right: 20px;
  -webkit-transition: .4s;
          transition: .4s; }
  [data-template="hero-project"] #slider-right:hover {
    background-color: rgba(255, 255, 255, 0.4); }
[data-template="hero-project"] .slide-wrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0; }
[data-template="hero-project"] .slider-slide-wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00d6b2;
  background-position: center;
  background-size: cover; }
[data-template="hero-project"] .projects {
  font-size: 100px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: white;
  text-align: center; }
[data-template="hero-project"] .project-nav {
  position: absolute;
  top: 47%;
  left: 10%;
  right: 10%;
  font-size: 25px;
  text-align: center;
  color: white; }
  [data-template="hero-project"] .project-nav .left-nav {
    color: white; }
[data-template="hero-project"] .project-overlay {
  position: absolute;
  top: 15%;
  right: 15%;
  left: 15%;
  bottom: 15%;
  background: rgba(0, 0, 0, 0.5);
  color: white; }
  [data-template="hero-project"] .project-overlay .project-title {
    margin: 15px 25px;
    font-size: 42px;
    color: #F2C0E7; }
  [data-template="hero-project"] .project-overlay .project-p {
    margin: 10px 25px 5px 25px;
    font-size: 30px;
    color: white; }
  [data-template="hero-project"] .project-overlay .project-tech {
    margin: 20px 25px 0 25px;
    font-size: 32px;
    color: #F2C0E7; }
  [data-template="hero-project"] .project-overlay .project-stack {
    margin: 0 25px;
    font-size: 25px;
    color: white; }
  [data-template="hero-project"] .project-overlay .project-more {
    margin: 20px 25px 0 25px;
    font-size: 32px;
    color: #F2C0E7; }
  [data-template="hero-project"] .project-overlay .project-site {
    margin: 0 25px;
    font-size: 25px;
    color: #53ABDB; }
  [data-template="hero-project"] .project-overlay .project-press {
    margin: 20px 25px 0 25px;
    font-size: 32px;
    color: #F2C0E7; }
  [data-template="hero-project"] .project-overlay .project-pack {
    margin: 0 25px;
    font-size: 25px;
    color: #53ABDB; }

@media (max-width: 767px) {
  [data-template="hero-project"] .slide-wrap {
    height: 100vh;
    width: 100vw; }
  [data-template="hero-project"] .projects {
    top: 39%;
    font-size: 40px; }
  [data-template="hero-project"] .project-nav {
    top: 47%;
    font-size: 14px;
    margin: 0 25px; }
  [data-template="hero-project"] .project-overlay {
    top: 10%;
    right: 15%;
    bottom: 10%;
    left: 15%; }
    [data-template="hero-project"] .project-overlay .project-title {
      margin: 5px 10px;
      font-size: 22px; }
    [data-template="hero-project"] .project-overlay .project-p {
      margin: 5px 10px 0 10px;
      font-size: 20px; }
    [data-template="hero-project"] .project-overlay .project-tech {
      margin: 10px 10px 0 10px;
      font-size: 22px; }
    [data-template="hero-project"] .project-overlay .project-stack {
      margin: 0 10px;
      font-size: 18px; }
    [data-template="hero-project"] .project-overlay .project-more {
      margin: 10px 10px 0 10px;
      font-size: 22px; }
    [data-template="hero-project"] .project-overlay .project-site {
      margin: 0 10px;
      font-size: 18px; }
    [data-template="hero-project"] .project-overlay .project-press {
      margin: 10px 10px 0 10px;
      font-size: 22px; }
    [data-template="hero-project"] .project-overlay .project-pack {
      margin: 0 10px;
      font-size: 18px; } }

[data-template="collaborate"] .collaborate {
  height: 100vh;
  background: deepskyblue; }
[data-template="collaborate"] .contact {
  height: 100vh;
  border-right: 1px solid white;
  -webkit-transition: .4s;
          transition: .4s; }
  [data-template="collaborate"] .contact:hover {
    background: rgba(100, 100, 100, 0.5); }
[data-template="collaborate"] .collaborate-link {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 10%;
  right: 10%;
  font-size: 25px;
  color: white;
  cursor: pointer; }
  [data-template="collaborate"] .collaborate-link i {
    display: block; }

@media (max-width: 767px) {
  [data-template="collaborate"] .contact {
    height: 25vh;
    border-right: none;
    border-bottom: 1px solid white; }
  [data-template="collaborate"] .collaborate-link {
    position: absolute;
    top: 22%;
    left: 10%;
    right: 10%;
    font-size: 20px; } }

[data-template="bio"] .bio {
  position: relative; }
[data-template="bio"] .name {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background: lightseagreen;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  font-size: 35px;
  padding: 13px 0;
  color: white; }
[data-template="bio"] .btn {
  cursor: pointer; }
[data-template="bio"] .profile {
  position: relative;
  height: 300px; }
  [data-template="bio"] .profile img {
    display: block;
    margin: auto;
    width: 250px;
    margin-top: 125px; }
[data-template="bio"] .profile-tag {
  text-align: left;
  font-size: 16px;
  height: 300px;
  margin: 125px 40px 0 0; }

@media (max-width: 767px) {
  [data-template="bio"] .profile {
    height: 175px; }
    [data-template="bio"] .profile img {
      width: 150px;
      margin-top: 100px; }
  [data-template="bio"] .profile-tag {
    height: 150px;
    text-align: center;
    font-size: 14px;
    margin: 25px 30px 25px 30px; } }

[data-template="bio-skill"] .pad {
  padding: 0; }
[data-template="bio-skill"] .skills {
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  padding: 30px 0;
  background: #1FA097;
  color: white;
  cursor: pointer;
  margin: 0 auto; }
  [data-template="bio-skill"] .skills:hover {
    background: rgba(32, 178, 170, 0.8); }
[data-template="bio-skill"] .key {
  height: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  [data-template="bio-skill"] .key .dots {
    display: inline;
    text-align: center;
    padding: 0 50px;
    line-height: 150px; }
    [data-template="bio-skill"] .key .dots strong {
      padding-left: 20px; }
[data-template="bio-skill"] .design-circle {
  color: orangered; }
[data-template="bio-skill"] .developer-circle {
  color: purple; }
[data-template="bio-skill"] .hard-circle {
  color: #DA70D6; }
[data-template="bio-skill"] .management-circle {
  color: #FFB300; }
[data-template="bio-skill"] .skill-col {
  height: 1200px; }
  [data-template="bio-skill"] .skill-col .skill {
    font-size: 25px;
    line-height: 70px;
    padding: 0 25px;
    margin: 0 75px;
    border-bottom: 1px solid grey;
    color: grey; }
    [data-template="bio-skill"] .skill-col .skill strong {
      padding-left: 25px; }
    [data-template="bio-skill"] .skill-col .skill .circle {
      color: cadetblue; }

@media (max-width: 767px) {
  [data-template="bio-skill"] .key {
    height: 200px; }
    [data-template="bio-skill"] .key .mob-dots {
      display: block;
      height: 75px; }
      [data-template="bio-skill"] .key .mob-dots .dots {
        padding: 0 10px; }
        [data-template="bio-skill"] .key .mob-dots .dots strong {
          padding-left: 20px; } }

[data-template="BioEd"] .bio-ed {
  position: relative; }
[data-template="BioEd"] .bio-ed-title .pad {
  padding: 0; }
[data-template="BioEd"] .bio-ed-title .ex {
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  padding: 30px 0;
  background: #1FA097;
  color: white;
  cursor: pointer;
  margin: 0 auto; }
  [data-template="BioEd"] .bio-ed-title .ex:hover {
    background: rgba(32, 178, 170, 0.8); }
[data-template="BioEd"] .company {
  position: relative;
  text-align: center; }
[data-template="BioEd"] .company-logo {
  height: 250px;
  position: relative;
  text-align: center; }
  [data-template="BioEd"] .company-logo .logo {
    margin: 60px 0;
    color: cadetblue; }
[data-template="BioEd"] .ed-uni {
  height: 250px;
  position: relative;
  text-align: center; }
  [data-template="BioEd"] .ed-uni .ed-info {
    margin: 60px 0; }
    [data-template="BioEd"] .ed-uni .ed-info .ed {
      text-align: right;
      margin-right: 30px;
      font-size: 22px;
      line-height: 30px; }
[data-template="BioEd"] .uni-info {
  height: 250px;
  position: relative;
  text-align: center; }
  [data-template="BioEd"] .uni-info .ed-sum {
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    margin: 60px 0;
    margin-right: 40px; }

@media (max-width: 767px) {
  [data-template="BioEd"] .bio-ed {
    position: relative; }
  [data-template="BioEd"] .company-logo {
    height: 100px; }
    [data-template="BioEd"] .company-logo .logo {
      margin: 10px 0;
      padding-top: 20px; }
  [data-template="BioEd"] .ed-uni {
    height: 150px; }
    [data-template="BioEd"] .ed-uni .ed-info {
      margin: 30px 0; }
      [data-template="BioEd"] .ed-uni .ed-info .ed {
        text-align: center;
        font-size: 18px;
        margin: 0 auto; }
  [data-template="BioEd"] .uni-info {
    display: none;
    height: 100px; }
    [data-template="BioEd"] .uni-info .ed-sum {
      text-align: center;
      font-size: 16px; } }

[data-template="BioEx"] .bio-ex {
  position: relative; }
[data-template="BioEx"] .bio-ed-title .pad {
  padding: 0; }
[data-template="BioEx"] .bio-ed-title .ex {
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  padding: 30px 0;
  background: #1FA097;
  color: white;
  cursor: pointer;
  margin: 0 auto; }
  [data-template="BioEx"] .bio-ed-title .ex:hover {
    background: rgba(32, 178, 170, 0.8); }
[data-template="BioEx"] .company {
  position: relative;
  text-align: center; }
[data-template="BioEx"] .company-logo {
  height: 250px;
  position: relative;
  text-align: center; }
  [data-template="BioEx"] .company-logo .logo {
    margin: 60px 0; }
[data-template="BioEx"] .ed-uni {
  height: 250px;
  position: relative;
  text-align: center; }
  [data-template="BioEx"] .ed-uni .ed-info {
    margin: 60px 0; }
    [data-template="BioEx"] .ed-uni .ed-info .ed {
      text-align: right;
      margin-right: 30px;
      font-size: 22px;
      line-height: 30px; }
[data-template="BioEx"] .uni-info {
  height: 250px;
  position: relative;
  text-align: center; }
  [data-template="BioEx"] .uni-info .ed-sum {
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    margin: 60px 0;
    margin-right: 40px; }
