@media (max-width: 767px){
  [data-template="header"]{

    .header {


      .menu-btn {
        position: absolute;
        left: 15px;
        top: 15px;
        height: 25px;
        z-index: 101;

        .fa-bars {
          line-height: 25px !important;
          font-size: 25px;
          width: 25px;
          text-align: center;
          display: inline-block;
          color: white;
          cursor: pointer;
          //background: $hub-grey;
          border-radius: 4px;
        }

        .menu-txt {
          line-height: 25px;
          //font-size: 15px;
          float: right;
          padding: 0 10px;
          display: none;
          color: white;
        }

      }

    }

  }
}