[data-template="header"] {

  .header {
    height: 100px;
    background: none;
    //box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;

    .logo {
      height: 45px;
      position: absolute;
      left: 50%;
      top: 15px;
      margin-left: -30px;
    }

    .book-now, .get-app {
      float: right;
      margin: 15px 15px 0 0;
      line-height: 30px;
      height: 35px;
      background: none;
      color: white;
      border-radius: 35px;
      padding: 0 15px;
      border: 1px solid white;
      transition: all .2s linear;
      cursor: pointer;

      &:hover {
        background: $hub-green;
        color: #fff;
        border-color: #fff;
        border: 1px solid $hub-green;
      }

    }

    .book-now {
      background: none;
      color: white;
      border: 3px solid white;

      &:hover {
        background: $hub-green;
        border: 3px solid $hub-green;

      }
    }

    .menu-btn {
      position: absolute;
      left: 15px;
      top: 15px;
      height: 35px;

      .fa-bars {
        line-height: 35px !important;
        font-size: 35px;
        width: 30px;
        text-align: center;
        display: inline-block;
        color: white;
        cursor: pointer;
        //background: $hub-grey;
        border-radius: 4px;
      }

      .menu-txt {
        line-height: 35px;
        //font-size: 15px;
        float: right;
        padding: 0 10px;
        display: none;
        color: white;
      }

    }

  }
}
