[data-template="header"] {

  .header {
    height: 100px;
    background: none;
    //box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;



    .menu-btn {
      position: absolute;
      left: 15px;
      top: 15px;
      height: 35px;
      z-index: 101;

      .fa-bars {
        line-height: 35px !important;
        font-size: 35px;
        width: 30px;
        text-align: center;
        display: inline-block;
        color: white;
        cursor: pointer;
        //background: $hub-grey;
        border-radius: 4px;
      }

      .menu-txt {
        line-height: 35px;
        //font-size: 15px;
        float: right;
        padding: 0 10px;
        display: none;
        color: white;
      }

    }

  }
}
