<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <!--<img class="logo" src="/public/img/sprint.png" alt=""/>-->
        <!--<div class="logo">Wadi Rum Ultra</div>-->
        <!--<div class="get-app">-->
            <!--Get the app-->
        <!--</div>-->

        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <!--<div class="menu-txt">Menu</div>-->
        </div>
    </div>
</div>
