<div data-template="header">
    <div class="header">
        <img class="logo" src="/public/img/hub_-_2nd_logo.png" alt=""/>
        <div class="book-now">
            Book
        </div>
        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <div class="menu-txt">MENU</div>
        </div>
    </div>
</div>

<div class="hub-hero">

    <!--<iframe src="https://player.vimeo.com/video/30555090?autoplay=1&loop=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

    <video id="hero-vid" autoplay loop muted>
       <!--<source src="/public/video/hub-hero-vid.mp4" type="video/mp4"> -->
        Your browser does not support the video tag.
    </video>

    <div class="overlay">
        <div class="hub-hero-txt">
            <div class="tag">The compact connected hotel in the heart of the city</div>
            <div class="hub-proto-btn discover">Discover Hub</div>
        </div>
    </div>
</div>

