<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <img class="logo" src="/public/img/hub_-_2nd_logo.png" alt=""/>
        <div class="book-now">
            Book
        </div>
        <!--<div class="get-app">-->
            <!--Get the app-->
        <!--</div>-->

        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <!--<div class="menu-txt">Menu</div>-->
        </div>
    </div>
</div>
