<div data-template="lifestyle-hero" data-ng-controller="LifestyleHeroCtrl">
    <div class="lifestyle-hero">
        <div class="lightbox" id="text">

            <div class="box">
                <a class="close" href="#"><i class="fa fa-times"></i></a>

                <div class="title">
                   Howdy superstar, lets connect
                </div>

                <div class="content">
                    <br><br>
                    <a class="twitter-follow-button"
                       href="https://twitter.com/zwhitehurst"
                       data-size="large"
                            data-show="true">
                        </a>
                </div>

        </div>
        </div>
        <div class="overlay-lifestyle">
            <div class="lifestyle-icon">
                <i class="fa fa-heart"></i>
            </div>
            <div class="lifestyle-tag">
                LIFESTYLE
            </div>
            <a href="#lifestyle-blog" target="_blank">
                <div class="lifestyle-p">
                    JOIN THE JOURNEY <i class="fa fa-chevron-down"></i>
                </div>
            </a>
             </div>
    </div>
</div>