[data-template="bio-work"]{
  .bio-work{
    position:relative;
    .pad {
      padding: 0;
      .experience-back {
        height: 300px;
        background: #f0f5f2;
        i{
          position: absolute;
          top: 110px;
          font-size: 30px;
          left: 0;
          right: 0;
          text-align: center;
          color: #1DB7A8;
        }

        .experience {
          position: absolute;
          top: 160px;
          font-size: 30px;
          left: 0;
          right: 0;
          text-align: center;
          color: grey;
        }

      }
    }

    .pad{
      padding: 0;
      .work-box {
        height: 200px;
        cursor: pointer;
        &:hover{
          .overlay-box{
            opacity: 1;
          }

        }

        .work-tag {
          img{
            position: absolute;
            width: 100px;
            top: 50px;
            left: 50%;
            margin-left: -50px;
          }

        }

        .overlay-box{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: rgba(30, 157, 167, .8);
          opacity: 0;
          .overlay-work-tag{
            text-align: center;
            margin: 0 auto;
            color: white;
            line-height: 30px;
            font-size: 20px;
          }
          .top{
            margin-top:80px;
          }
        }
      }
    }
  }
}