<div data-template="bio-work">
    <div class="bio-work">
        <div class="col-md-12 pad">
            <div class="experience-back">
                <i class="fa fa-briefcase"></i>
                <div class="experience">
                    EXPERIENCE
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">
                <div class="work-tag">
                    <img src="/public/img/logo/yieldify.png" style="top: 90px">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Full Stack Product Designer
                    </div>
                    <div class="overlay-work-tag">
                        2015
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">
                <div class="work-tag">
                    <img src="/public/img/logo/alumnow.png" style="top: 70px">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Founder
                    </div>
                    <div class="overlay-work-tag">
                        2015
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">
                <div class="work-tag">
                    <img src="/public/img/logo/common-pence.png">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Founder
                    </div>
                    <div class="overlay-work-tag">
                        2014 - 2015
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">

                <div class="work-tag">
                    <img src="/public/img/logo/code-lounge.jpg" style="top: 70px">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Founder
                    </div>
                    <div class="overlay-work-tag">
                        2014 - 2015
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">

                    <div class="work-tag">
                        <img src="/public/img/logo/andigital.png" style="top: 90px">
                    </div>
                    <div class="overlay-box">

                        <div class="overlay-work-tag top">
                            Product Developer
                        </div>
                    <div class="overlay-work-tag">
                        2015
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">

                <div class="work-tag">
                    <img src="/public/img/logo/jwt.png">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Intern
                    </div>
                    <div class="overlay-work-tag">
                        2013
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">
                <div class="work-tag">
                    <img src="/public/img/logo/amv.jpeg" style="top: 80px">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Intern
                    </div>
                    <div class="overlay-work-tag">
                        2013
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pad">
            <div class="work-box">

                <div class="work-tag">
                    <img src="/public/img/logo/red-bull.jpeg">
                </div>
                <div class="overlay-box">

                    <div class="overlay-work-tag top">
                        Intern
                    </div>
                    <div class="overlay-work-tag">
                        2012
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>