<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Zander Whitehurst</title>

    <meta name="description" content="<%= content.description %>"/>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/hub-on-hub.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
</head>
<body data-ng-app="hub-on-hub" class="<%= content.class %>">

<!--<script src="/public/lib.js"></script>-->
<!--<script src="/public/hub-on-hub.js"></script>-->
<!--<script type="text/javascript">-->
    <!--if (typeof pio === 'undefined') {-->
        <!--var pio = window.pio || {};-->
    <!--}-->

    <!--pio.pageName = "nhd: <%= content.analyticsTag %>"-->
<!--</script>-->
<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="">Bio</a></li>
            <li><a href="">Hacks</a></li>
            <li><a href="">Collaborate</a></li>
        </ul>
        <div class="social">
            <li>
                <a class="first" href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
                <a href=""><i class="fa fa-pencil"></i></a>
            </li>
        </div>
    </div>
</div>
<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <!--<img class="logo" src="/public/img/sprint.png" alt=""/>-->
        <!--<div class="logo">Wadi Rum Ultra</div>-->
        <!--<div class="get-app">-->
            <!--Get the app-->
        <!--</div>-->

        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <!--<div class="menu-txt">Menu</div>-->
        </div>
    </div>
</div>

<div data-template="bio" data-ng-controller="BioCtrl">
    <div class="bio">
        <div class="col-md-12">
            <div class="name">
                Zander Whitehurst <i class="fa fa-angle-down btn"></i>
            </div>
        </div>


        <div class="col-md-5 col-sm-12">
            <div class="profile">
                <img src="/public/img/profile/profile.png" alt="headshot">
            </div>

        </div>

        <div class="col-md-3 col-sm-6">
            <div class="profile-tag">
                Zander Whitehurst is an award-winning designer and developer based in London. He has a passion for combining big data with design to enhance our interaction with the envrionment. Zander works on technology projects spanning Digital, Mobile, Web and Connected Hardware. His experience in the Silicon Alley has proved useful in helping London transition into a tech centric city.
                <br>
                <br>
                </div>
            </div>

        <div class="col-md-3 col-sm-6">
            <div class="profile-tag">

                Outside of the studio he has an obsession with sport, captaining South England schoolboys and playing for the Oxford Blues XI. More recently he is exploring the benefits of yoga whilst training for an ultra marathon.
            </div>

        </div>

        <div class="col-md-1">

        </div>


    </div>
</div>
<div data-template="BioEd" ng-controller="BioEdCtrl">

    <div class="bio-ed">
        <div class="bio-ed-title">
            <div class="col-md-12 pad">
                <div class="ex">
                    Education
                </div>
            </div>
        </div>

        <div class="company" ng-repeat="item in education">
            <div class="col-md-2">
                <div class="company-logo">
                    <div class="logo">
                        <i class="fa fa-graduation-cap fa-3x"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ed-uni">
                    <div class="ed-info">
                    <div class="ed">{{item.degree}}</div>
                    <div class="ed">{{item.uni}}</div>
                    <div class="ed">{{item.subject}}</div>
                    <div class="ed">{{item.year}}</div>
                    </div>
                </div>

            </div>

            <div class="col-md-7">
                <div class="uni-info">
                    <div class="ed-sum">{{item.sum}}</div>

                </div>

            </div>


        </div>


    </div>


</div>
<div data-template="BioEd" ng-controller="BioExCtrl">

    <div class="bio-ex">
        <div class="bio-ed-title">
            <div class="col-md-12 pad">
                <div class="ex">
                    Experience
                </div>
            </div>
        </div>

        <div class="company" ng-repeat="item in work">
            <div class="col-md-2">
                <div class="company-logo">
                    <div class="logo">
                        <img class="logo-img" src="{{item.img}}" alt="logo" style="width: 100px">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ed-uni">
                    <div class="ed-info">
                        <div class="ed">{{item.role}}</div>
                        <div class="ed">{{item.company}}</div>
                        <div class="ed">{{item.date}}</div>
                        <div class="ed">{{item.location}}</div>
                    </div>
                </div>

            </div>

            <div class="col-md-7">
                <div class="uni-info">
                    <div class="ed-sum">{{item.sum}}</div>

                </div>

            </div>


        </div>


    </div>


</div>
<div data-template="bio-skill">
    <div class="skill-color">

    <div class="col-md-12 pad">
        <div class="skills">
            Skill
        </div>
    </div>


    <div class="col-md-12">
        <div class="key">

            <div class="mob-dots">
            <div class="dots">
                <i class="fa fa-circle fa-1x design-circle"></i><strong>Design</strong>
            </div>

            <div class="dots">
                <i class="fa fa-circle fa-1x developer-circle"></i><strong>Software</strong>
            </div>

            </div>
            <div class="mob-dots">
            <div class="dots">
                <i class="fa fa-circle fa-1x hard-circle"></i><strong>Hardware</strong>
            </div>

            <div class="dots">
                <i class="fa fa-circle fa-1x management-circle"></i><strong>Management</strong>
            </div>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="skill-col">
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Angular</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>JQuery</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Sass</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Gulp</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Git</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Bootstrap</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>CSS3</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>D3.js</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Velocity.js</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Node</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>JSON</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Javascript</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Ajax</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Google Analytics</strong></div>
                <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>AWS</strong></div>
                    <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Word Press</strong></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="skill-col">
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Illustrator</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Photoshop</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Premier</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>After Effects</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Rhino</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Sketch</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Balsamiq</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Axure</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Arduino</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Makerbot</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Craftbot</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Raspberry Pi</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Laser Cutter</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x management-circle"></i><strong>Jira</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x management-circle"></i><strong>Trello</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x management-circle"></i><strong>Microsoft Suite</strong>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<!--footer.ejs-->
<div data-template="footer">
    <footer id="footer">
        <div class="col-md-12 footer-tag">
            <a href="http://twitter.com">
                <i class="fa fa-twitter social"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-linkedin social"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-github social"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-pencil social"></i>
            </a>
        </div>
    </footer>
</div>

<script>
    //        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //
    //        ga('create', 'UA-62818193-1', 'auto');
    //        ga('send', 'pageview');
</script>

<script>  Reveal.initialize(); </script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.js"></script>
<script src="/public/lib.js"></script>
<script src="/public/hub-on-hub.js"></script>


<!--<script type="text/javascript">_satellite.pageBottom();</script>-->
</body>
</html>