<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= content.title %></title>

    <meta name="description" content="<%= content.description %>"/>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/hub-on-hub.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
</head>
<body data-ng-app="hub-on-hub" class="<%= content.class %>">

<!--<script src="/public/lib.js"></script>-->
<!--<script src="/public/hub-on-hub.js"></script>-->
<!--<script type="text/javascript">-->
    <!--if (typeof pio === 'undefined') {-->
        <!--var pio = window.pio || {};-->
    <!--}-->

    <!--pio.pageName = "nhd: <%= content.analyticsTag %>"-->
<!--</script>-->
<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="">Bio</a></li>
            <li><a href="">Hacks</a></li>
            <li><a href="">Collaborate</a></li>
        </ul>
        <div class="social">
            <li>
                <a class="first" href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
                <a href=""><i class="fa fa-pencil"></i></a>
            </li>
        </div>
    </div>
</div>
<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <!--<img class="logo" src="/public/img/sprint.png" alt=""/>-->
        <!--<div class="logo">Wadi Rum Ultra</div>-->
        <!--<div class="get-app">-->
            <!--Get the app-->
        <!--</div>-->

        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <!--<div class="menu-txt">Menu</div>-->
        </div>
    </div>
</div>

<div data-template="collaborate">
    <div class="collaborate">

        <div class="col-md-3 contact">
            <div class="collaborate-link">
                    <i class="fa fa-slack fa-3x"></i>
                Join my slack channel
            </div>


        </div>
        <div class="col-md-3 contact">
            <div class="collaborate-link">
                <i class="fa fa-twitter fa-3x"></i>
                Send me a tweet
            </div>

        </div>
        <div class="col-md-3 contact">
            <div class="collaborate-link">
                <i class="fa fa-github fa-3x"></i>
                Fork me on Git hub
            </div>

        </div>
        <div class="col-md-3 contact">
            <div class="collaborate-link">
                <i class="fa fa-mobile fa-3x"></i>
                Give me a dingle
            </div>

        </div>
        </div>

</div>
<!--footer.ejs-->
<div data-template="footer">
    <footer id="footer">
        <div class="col-md-12 footer-tag">
            <a href="http://twitter.com">
                <i class="fa fa-twitter social"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-linkedin social"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-github social"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-pencil social"></i>
            </a>
        </div>
    </footer>
</div>

<script>
    //        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //
    //        ga('create', 'UA-62818193-1', 'auto');
    //        ga('send', 'pageview');
</script>

<script>  Reveal.initialize(); </script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.js"></script>
<script src="/public/lib.js"></script>
<script src="/public/hub-on-hub.js"></script>


<!--<script type="text/javascript">_satellite.pageBottom();</script>-->
</body>
</html>