<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= content.title %></title>

    <meta name="description" content="<%= content.description %>"/>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/hub-on-hub.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
</head>
<body data-ng-app="hub-on-hub" class="<%= content.class %>">

<!--<script src="/public/lib.js"></script>-->
<!--<script src="/public/hub-on-hub.js"></script>-->
<!--<script type="text/javascript">-->
    <!--if (typeof pio === 'undefined') {-->
        <!--var pio = window.pio || {};-->
    <!--}-->

    <!--pio.pageName = "nhd: <%= content.analyticsTag %>"-->
<!--</script>-->
<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="">About Hub</a></li>
            <li><a href=""><span class="fa fa-fw fa-angle-down pull-right"></span> Locations</a></li>
            <li><a href=""><span class="fa fa-fw fa-angle-down pull-right"></span> Hotels</a></li>
            <li><a href="">Our App</a></li>
            <li><a href="">Careers</a></li>
        </ul>
    </div>
</div>
<div data-template="header">
    <div class="header">
        <img class="logo" src="/public/img/hub_-_2nd_logo.png" alt=""/>
        <div class="book-now">
            Book
        </div>
        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <div class="menu-txt">MENU</div>
        </div>
    </div>
</div>

<div class="hub-hero">

    <!--<iframe src="https://player.vimeo.com/video/30555090?autoplay=1&loop=1&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

    <video id="hero-vid" autoplay loop muted>
       <!--<source src="/public/video/hub-hero-vid.mp4" type="video/mp4"> -->
        Your browser does not support the video tag.
    </video>

    <div class="overlay">
        <div class="hub-hero-txt">
            <div class="tag">The compact connected hotel in the heart of the city</div>
            <div class="hub-proto-btn discover">Discover Hub</div>
        </div>
    </div>
</div>


<div data-template="location">
    <div class="locations">
        <div class="col-xs-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background-image:url('https://ununsplash.imgix.net/photo-1420655710207-b092e1b8abe3?fit=crop&fm=jpg&h=950&q=100&w=1250')"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text">London</div>
                    <div class="location-circle"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="location">
                    <div class="location-image" style="background-image:url('https://c2.staticflickr.com/4/3265/3121510184_356e896a49_b.jpg')"></div>
                    <div class="location-overlay"></div>
                    <div class="location-text">Edinburgh</div>
                    <div class="location-circle"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--footer.ejs-->
    <div data-template="footer">
        <footer id="footer">
        </footer>
    </div>

    <script>
//        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
//
//        ga('create', 'UA-62818193-1', 'auto');
//        ga('send', 'pageview');
    </script>

    <script src="/public/lib.js"></script>
    <script src="/public/hub-on-hub.js"></script>

    <!--<script type="text/javascript">_satellite.pageBottom();</script>-->
</body>
</html>