<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Zander Whitehurst</title>

    <meta name="description" content="<%= content.description %>"/>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/hub-on-hub.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
    <link rel="shortcut icon"
          href="http://zanderwhitehurst.co/favicon.ico"
          type="image/x-icon" />

</head>
<body data-ng-app="hub-on-hub" class="<%= content.class %>">

<!--<script src="/public/lib.js"></script>-->
<!--<script src="/public/hub-on-hub.js"></script>-->
<!--<script type="text/javascript">-->
    <!--if (typeof pio === 'undefined') {-->
        <!--var pio = window.pio || {};-->
    <!--}-->

    <!--pio.pageName = "nhd: <%= content.analyticsTag %>"-->
<!--</script>-->
<div data-template="menu" data-ng-controller="MenuCtrl">
    <div class="menu-nav">
        <div class="nav-header">
            <div class="nav-close">
                <div class="fa fa-times"></div>
            </div>
        </div>
        <ul>
            <li><a href="/index.html" class="tabs">Home</a></li>
            <li><a href="/projects.html" class="tabs">Projects</a></li>
            <li><a href="/bio.html" class="tabs">Bio</a></li>
            <li><a href="/press.html" class="tabs">Press</a></li>
            <li><a href="/collaborate.html" class="tabs">Collaborate</a></li>
        </ul>
        <div class="social">
            <li>
                <a class="first" href=""><i class="fa fa-twitter social-icons"></i></a>
                <a href=""><i class="fa fa-linkedin social-icons"></i></a>
                <a href=""><i class="fa fa-github social-icons"></i></a>
                <a href=""><i class="fa fa-pencil social-icons"></i></a>
            </li>
        </div>
    </div>
</div>
<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <!--<img class="logo" src="/public/img/sprint.png" alt=""/>-->
        <!--<div class="logo">Wadi Rum Ultra</div>-->
        <!--<div class="get-app">-->
            <!--Get the app-->
        <!--</div>-->

        <div class="menu-btn">
            <div class="fa fa-bars"></div>
            <!--<div class="menu-txt">Menu</div>-->
        </div>
    </div>
</div>

<div data-template ="press">
    <div class="press">
        <div class="press-box">
            <div class="press-title">
                Featured Press
            </div>
            <div class="press-pack">
             <a href="http://www.fastcoexist.com/3038172/now-you-can-donate-your-leftover-subway-fare-to-charity-with-a-simple-swipe" target="_blank">  Now you can donate your leftover subway money to charity </a> | Fast Company
               <br> <a href="http://www.hertsad.co.uk/news/grove-house/revolutionary_new_way_to_donate_to_charity_devised_by_harpenden_inventor_1_4046069" target="_blank">  Revolutionary New Way to Give to Charity </a> | Evening Standard
               <br> <a href="http://www.refinery29.com/2014/11/78038/b3d-head-3d-printed-vibrator" target="_blank">  Zander Whitehurst has designed a present your partner will never forget. </a> | Refinery 29
                <br> <a href="http://metro.co.uk/2014/11/18/benedict-cum-berbatch-this-is-a-vibrator-in-the-shape-of-sherlocks-head-4953231/" target="_blank"> Designer Zander Whitehurst launched B3D HEAD with couples in long distance relationships</a> | Metro
                <br> <a href="http://elitedaily.com/news/world/vibrator-shaped-lovers-head/851368/" target="_blank"> One entrepreneur just singlehandedly redefined the meaning of “giving head.”</a> | Elite Daily
                <br> <a href="http://www.sickchirpse.com/vibrator-shaped-partners-head/" target="_blank"> A London based entrepeneur from New York has had one of the best ideas ever </a> | Sick Chirpse
                <br> <a href="http://thecreatorsproject.vice.com/nl/blog/met-de-common-pence-doneer-je-met-je-ov-chipkaart" target="_blank"> This device puts the fun in fundraisisng  </a> | Vice
                <br> <a href="http://techmash.co.uk/2015/04/15/making-a-donation-to-charity-is-easy-with-common-pence/" target="_blank"> Making a donation to charity is easy with Common Pence </a> | Tech Mash
                <br> <a href="http://www.huffingtonpost.com/2014/11/14/donate-subway-fare_n_6160828.html" target="_blank"> Brilliant Innovation Lets London Subway Riders Donate Leftover Fares </a> | Huffington Post
                <br> <a href="https://lockerdome.com/6904522652136769/7151041058844948" target="_blank"> A British designer has come up with a device that will let you easily donate to charity </a> | Lockerdome
                <br> <a href="https://futurevision.rga.com/2014/11/leftover-train-fare-donate-it-with-a-swipe/" target="_blank"> Donate it with a swipe </a> | RGA
                <br> <a href="http://intoconnection.com/author/zander-whitehur/" target="_blank"> Zander Whiterhurst is a technologist, designer and entrepreneur from England </a> | IntoConnection

            </div>
        </div>
    </div>
</div>
<!--footer.ejs-->
<div data-template="footer">
    <footer id="footer">
        <div class="col-md-12 footer-tag">
            <a class="twitter-foot" href="http://twitter.com/zwhitehurst" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="linked-foot" href="http://linkedin.com/zanderwhitehurst" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="github-foot" href="https://github.com/ZanderWhitehurst" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="email-foot" href="mailto:zanderwhitehurst@gmail.com?Subject=Howdy">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </footer>
</div>

<script>
    //        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //
    //        ga('create', 'UA-62818193-1', 'auto');
    //        ga('send', 'pageview');
</script>

<script>  Reveal.initialize(); </script>
<script src="/public/lib.js"></script>
<script src="/public/hub-on-hub.js"></script>


<!--<script type="text/javascript">_satellite.pageBottom();</script>-->
</body>
</html>