<div data-template="BioEd" ng-controller="BioExCtrl">

    <div class="bio-ex">
        <div class="bio-ed-title">
            <div class="col-md-12 pad">
                <div class="ex">
                    Experience
                </div>
            </div>
        </div>

        <div class="company" ng-repeat="item in work">
            <div class="col-md-2">
                <div class="company-logo">
                    <div class="logo">
                        <img class="logo-img" src="{{item.img}}" alt="logo" style="width: 100px">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="ed-uni">
                    <div class="ed-info">
                        <div class="ed">{{item.role}}</div>
                        <div class="ed">{{item.company}}</div>
                        <div class="ed">{{item.date}}</div>
                        <div class="ed">{{item.location}}</div>
                    </div>
                </div>

            </div>

            <div class="col-md-7">
                <div class="uni-info">
                    <div class="ed-sum">{{item.sum}}</div>

                </div>

            </div>


        </div>


    </div>


</div>