[data-template="project-show"]{


  #myCarousel, .carousel, .slide {
    height: 100vh;
    background: #282828;

    .project{
      position: absolute;
      font-sizE: 30px;
      color: #DEDEE0;
      left: 150px;
      top: 50px;
    }


    .carousel-indicators {
      bottom: 50px;
      .active {
          background: lightseagreen;

      }
    }

    .active {

    }

    .pad {
      padding: 0;

      .border {

        .image {
          position: absolute;
          top: 125px;
          left: 150px;
          height: 450px;
          width: 400px;
          background-size: cover;
          background-position: center;
          cursor: pointer;
          opacity: 1;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;

          &:hover {
            opacity: 0.5;
          }
        }

      }

      .fund-text {
        background: white;
        .text-box {
          position: absolute;
          top: 125px;
          left: 550px;
          right: 150px;
          border-right: 2px dotted #3F3F3F;
          border-top: 2px dotted #3F3F3F;
          border-bottom: 2px dotted #3F3F3F;
          height: 450px;
          background: #3F3F3F;

          .title {
            font-size: 27px;
            line-height: 30px;
            color: #DEDEE0;
            padding: 25px 25px 5px 25px;
          }

          .what {
            padding: 5px 25px 10px 25px;
            font-size: 17px;
            color: #DEDEE0;
          }

          .tech-stack-title{
            padding: 5px 25px 0 25px;
            font-size: 18px;
            color: #F2C0E7;
          }

          .tech-stack-p{
            padding: 0 25px 10px 25px;
            font-size: 14px;
            color: #3FACEF;
          }

          .press-title{
            padding:5px 25px 0 25px;
            font-size: 18px;
            color: #F2C0E7;
          }

          .press-p{
            padding: 0 25px 10px 25px;
            font-size: 14px;
            color: #3FACEF;
          }

          .explore-title{
            padding: 5px 25px 0 25px;
            font-size: 18px;
            color: #F2C0E7;
          }

          .project-site{
            padding: 0 25px 10px 25px;
            font-size: 14px;
            color: #3FACEF;
            a{
             color: #6FC6AB;
              text-decoration: none;
              &:hover{
                color: #599E88;
              }
            }
          }

          }
        }

      }

    }
  }
