<div data-template = "project-show">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="project">
            Projects
        </div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"
                style="border: 1px solid lightseagreen;"></li>
            <li data-target="#myCarousel" data-slide-to="1" style="border: 1px solid lightseagreen;"></li>
            <li data-target="#myCarousel" data-slide-to="2" style="border: 1px solid lightseagreen;"></li>
            <li data-target="#myCarousel" data-slide-to="3" style="border: 1px solid lightseagreen;"></li>
            <li data-target="#myCarousel" data-slide-to="4" style="border: 1px solid lightseagreen;"></li>
            <li data-target="#myCarousel" data-slide-to="5" style="border: 1px solid lightseagreen;"></li>
            <li data-target="#myCarousel" data-slide-to="6" style="border: 1px solid lightseagreen;"></li>
        </ol>

        <div class="carousel-inner" role="listbox" style="height:100%;">
            <div class="item active">
                <div class="col-md-12 pad">
                    <div class="border">
                        <div class="image"
                             style="background-image:url('/public/img/projects/background-cp.jpg')">
                        </div>

                    </div>
                    <div class="fund-text">
                        <div class="text-box">
                            <div class="title">Common Pence</div>
                            <div class="what">  Common Pence is a donation platform utilising contactless and NFC technology to simplify
                                fundraising.
                            </div>

                            <div class="tech-stack-title">Tech Stack</div>
                            <div class="tech-stack-p">Arduino | Angular | C++ | Raspberry Pi | RFId | NFC | Angular | Sass | Bootstrap | 3D Printing | Rhino | Illustrator | Photoshop | GA | Github</div>

                            <div class="press-title">Press</div>
                            <div class="press-p"> <span>Wired</span> | <span>Huffington Post</span> |<span> Fast Company</span> | <span> Yahoo </span> |<span> Vice </span> |<span> Scoop </span> |<span> Lockerdome </span> | <span> Nationswell </span> |
                                <span>TrendHunter </span></div>

                            <div class="explore-title">Explore More</div>
                            <div class="project-site">
                                <a href="http://www.commonpence.co/" target="_blank">
                                    <span>Project Website</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
                </div>

            <div class="item">
                <div class="col-md-12 pad">
                    <div class="border">
                        <div class="image"
                             style="background-image: url(/public/img/projects/alumnow.png)">
                        </div>

                    </div>
                    <div class="fund-text">
                        <div class="text-box">
                            <div class="title"> alumnow</div>
                            <div class="what">   alumnow is a crowdfunding platform encouraging alumni to effortlessly give back to projects they believe in. Utilising the mentra of collaboration in donation it has 30,000 monthly users and is in Alpha testing.

                            </div>

                            <div class="tech-stack-title">Tech Stack</div>
                            <div class="tech-stack-p"> HTML5 | CSS3 | Sass | Angular | JQuery | Bootstrap | Javascript | Node | Mongo DB | AWS | Adobe Creative Suite | Google Analytics | Github

                                </div>


                            <div class="explore-title">Explore More</div>
                            <div class="project-site">
                                <a href="http://www.commonpence.co/" target="_blank">
                                    <span>Project Website</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="item">
                <div class="col-md-12 pad">
                    <div class="border">
                        <div class="image"
                             style="background-image: url(/public/img/projects/hub.png)"">
                        </div>

                    </div>
                    <div class="fund-text">
                        <div class="text-box">
                            <div class="title">  Hub by Premier Inn</div>
                            <div class="what">   Hub is Whitbread's latest branch of interactive hotels. Zander helped develop the multi-page site which has over a million monthly visitors. He also helped build the ios and android app.
                            </div>

                            <div class="tech-stack-title">Tech Stack</div>
                            <div class="tech-stack-p"> HTML5 | CSS3 | Sass | Angular | Gulp | Node | Mongo DB | Scala | Bower | AEM | GA | Github

                            </div>

                            <div class="press-title">
                                Press
                            </div>

                            <div class="press-p">
                                <span>Guardian</span> | <span>Telegraph</span> |<span>London Town</span> | <span> Tech World</span> |<span> Real Business </span>
                            </div>



                            <div class="explore-title">Explore More</div>
                            <div class="project-site">
                                <a href="http://www.hubhotels.co.uk/" target="_blank">
                                    <span>Project Website</span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="item">
                <div class="col-md-12 pad">
                    <div class="border">
                        <div class="image"
                             style="background-image: url(/public/img/projects/background-h@.png)">
                        </div>

                    </div>
                    <div class="fund-text">
                        <div class="text-box">
                            <div class="title"> H@ - Emotive Mapping</div>
                            <div class="what">   How does our brain respond to the city?  H@ is a solar powered, EEG and GPS wearable. As a 3D printed wearable, H@ detects brainwaves, measuring attentive and meditative states, which are interlinked in real-time with Longitude and Latitude to generate an emotive map of any city.

                            </div>

                            <div class="tech-stack-title">Tech Stack</div>
                            <div class="tech-stack-p"> Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Python | Processing.js | Github

                            </div>


                            <div class="explore-title">Explore More</div>
                            <div class="project-site">
                                <a href="https://vimeo.com/89628671" target="_blank">
                                    Project Short
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        <div class="item">
            <div class="col-md-12 pad">
                <div class="border">
                    <div class="image"
                         style="background-image: url(/public/img/projects/b3dhead.png)"">
                </div>

            </div>
            <div class="fund-text">
                <div class="text-box">
                    <div class="title">  B3D HEAD</div>
                    <div class="what">    B3D HEAD is the first 3D printed personalised vibrator. Our concept of personal pleasure toys stems from long-distance relationships. Even if you are continents apart, you can now give head to your loved one, with your own head.

                    </div>

                    <div class="tech-stack-title">Tech Stack</div>
                    <div class="tech-stack-p">  Arduino | Rhino | Illustrator | Makerbot - 3D Printing | Github
                    </div>

                    <div class="press-title">
                        Press
                    </div>

                    <div class="press-p">
                        <span>Refinery 29</span> | <span>Metro</span> |<span>Sick Chirpse</span> | <span> Daily Mail </span> |<span> Vice </span> |<span> Tech Mash </span>
                    </div>



                    <div class="explore-title">Explore More</div>
                    <div class="project-site">
                        <a href="http://www.b3dhead.com/" target="_blank">
                            Project Website
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="item">
        <div class="col-md-12 pad">
            <div class="border">
                <div class="image"
                     style="background-image: url(/public/img/projects/ocado.png)">
                </div>

            </div>
            <div class="fund-text">
                <div class="text-box">
                    <div class="title"> Ocado </div>
                    <div class="what">   Rigorously User Tested and Developed a cleaner UI for Ocado's online shopping experience for mobile and tablet users. Zander's UI Design won the client bid and he assisted in developing the platform, which is undergoing BETA and Alpha testing for their latest mobile app.
                    </div>

                    <div class="tech-stack-title">Tech Stack</div>
                    <div class="tech-stack-p">  Illustrator | Axure | Photoshop | Sketch | Invision | HTML5 | CSS3 | Sass | Angular | Google Analytics | Github

                    </div>


                    <div class="explore-title">Explore More</div>
                    <div class="project-site">
                        <a href="http://www.ocado.co.uk/" target="_blank">
                            <span>Project Website</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="item">
        <div class="col-md-12 pad">
            <div class="border">
                <div class="image"
                     style="background-image: url(/public/img/projects/academy.png">
                </div>

            </div>
            <div class="fund-text">
                <div class="text-box">
                    <div class="title"> ANDacedemy </div>
                    <div class="what">    A Single Page Application summarising the experience of ANDigital's ANDacademy, which is an intensive training programme teaching the fundamentals of agile development and scrum. The Web App was built using full stack tech and is content manageable through Word Press.
                    </div>

                    <div class="tech-stack-title">Tech Stack</div>
                    <div class="tech-stack-p">   HTML5 | CSS3 | Javascript | JQuery | Angular | Gulp | Node | AWS | Google Analytics | Github

                    </div>


                    <div class="explore-title">Explore More</div>
                    <div class="project-site">
                        <a href="http://www.andigital.com/" target="_blank">
                            Project Website
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background: none;">
            <span class="fa fa-chevron-left fa-3x" aria-hidden="true"
                  style="position: absolute; top: 40%; left: 20px;"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background: none;">
            <span class="fa fa-chevron-right fa-3x" aria-hidden="true"
                  style=" position: absolute; top: 40%; right: 20px;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</div>
