[data-template="footer"] {
  #footer {

    .footer-tag {
      background: white;
      text-align: center;

      a{
        display: inline-block;
        margin: 40px 25px 25px 25px;
        color: #5BBDEF;
        cursor: pointer;
        &:hover{
          color: #4B96BC;
        }

    }
    }
  }
  }