<div data-template = "blog-hero" data-ng-controller="BlogCtrl">
    <div class="blog-hero">

        <div class="lightbox" id="text">

            <div class="box">
                <a class="close" href="#"><i class="fa fa-times"></i></a>

                <div class="title">
                    Out with the old, in with the bold
                </div>

                <div class="content">
                    Why not share my blog with friends?
                    <div class="blog-post-social">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//zanderwhitehurst.co/blog.html" target="_blank"><i class="fa fa-facebook social-icon"></i>
                        </a>
                        <a href="https://twitter.com/home?status=Why%20I%20turned%20down%20a%20job%20at%20Google%20-%20http%3A//www.zanderwhitehurst.co/blog.html" target="_blank" style=" background: #1aa7e2;">
                            <i class="fa fa-twitter social-icon"></i>
                        </a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.zanderwhitehurst.co/blog.html" style=" background: #007ab8;" target="_blank">
                            <i class="fa fa-linkedin social-icon"></i>
                        </a>
                        <a href="https://plus.google.com/share?url=http%3A//www.zanderwhitehurst.co/blog.html" target="_blank" style=" background: #df4f3f;">
                            <i class="fa fa-google-plus social-icon"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="overlay-blog">
            <div class="blog-icon">
                <i class="fa fa-code"></i>
            </div>
            <div class="blog-tag">
                LEARN
            </div>
            <a href="#blog-top">
                <div class="blog-p">
                    GET READING <i class="fa fa-chevron-down"></i>
                </div>
            </a>
        </div>
    </div>
</div>