<div data-template = "podcast-page-amelia">
    <div class="podcast-page-amelia">

        <div class="podcast-page-backdrop">
            <div class="podcast-page-overlay">
                <div class="podcast-page-person">
                    ZWP - AMELIA WINGER BEARSKIN
                </div>
            </div>
        </div>

            <div class="podcast-title">
                Amelia Winger Bearskin on Big Data & Tech Art
            </div>

        <div class="podcast-player-date">
            06/10/15
        </div>
        <div class="podcast-player">
        <div class="podcast-main-image">
        </div>
        <iframe width="100%" height="100" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228681686&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=falsee&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;sharing=false&amp;download=false&amp;cookie_policy=false"></iframe>


        <div class="podcast-main-p">
            Amelia Winger Bearskin is an award winning artist, designer, developer, innovator and creative technologist. She shares her experience of founding a big data innovation lab on Wall Street. Amelia sheds light on her mission to visually represent 40 years of EU data using d3, aws and iterative deployment.
            <br><br>
            Amelia maintains her 'artist' status and is currently a tech art resident in Red Hook, building a play within a play titled 'Pedestrian Knockdown'. Her passion for technology is limitless and she is a great believer in collaborative communities.
            <br><br>
            Amelia is a truly inspiring individual.
            <br> <br>
            <a href="https://twitter.com/ameliawb" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/ameliawb" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://www.studioamelia.com" target="_blank">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
        </div>

    </div>
</div>