<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="//assets.adobedtm.com/9b346bffe2591722c64f88bf101c0664c8936e16/satelliteLib-93e274c58a6ad1ed12b80e4d8c0a01144cd6e324.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Zander Whitehurst</title>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/z-w.css"/>
    <link rel="stylesheet" href="/public/fonts/fonts.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css"/>
    <link rel="shortcut icon"
          href="http://zanderwhitehurst.co/favicon-z.ico"
          type="image/x-icon" />

    <meta property="og:title"
          content="Zander Whitehurst | Advertise here " />


    <meta property="og:url"
          content="http://www.zanderwhitehurst.co/advertise.html" />

    <meta property="og:description" content="JOIN THE PARTY
Advertise here. Focused, fun and creative ads guarantee you get noticed. Every Ad is overflowing with real-time data to prove campaign success. Zander is an award winning designer and every ad is an artwork." />


    <meta property="og:image"
          content="http://zanderwhitehurst.co/public/img/profile/party-tag.jpg" />

</head>
<body data-ng-app="z-w" class="<%= content.class %>">
