<div data-template="press" data-ng-controller="PressCtrl">
    <div class="col-md-12 pad">
        <div class="press">
            <div class="press-title">
                Press
            </div>
            <div class="press-line">

            </div>
        </div>
    </div>
    <div class="col-md-12 pad">
        <div class="press-pack">
            <a class="press-pack-story" href="http://www.fastcoexist.com/3038172/now-you-can-donate-your-leftover-subway-fare-to-charity-with-a-simple-swipe"
               target="_blank">  <img src="/public/img/profile/specs.png"></a>
           <span class="press-tag"> Now you can donate your leftover subway money to charity... </span>
            <span> Fast Company</span>
            </div>
    </div>
    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://www.hertsad.co.uk/news/grove-house/revolutionary_new_way_to_donate_to_charity_devised_by_harpenden_inventor_1_4046069" target="_blank">  <img src="/public/img/profile/specs.png"> </a>
            <span class="press-tag"> Revolutionary New Way to Give to Charity... </span>
            <span> Evening Standard</span>
        </div>
    </div>


    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://www.huffingtonpost.com/2014/11/14/donate-subway-fare_n_6160828.html" target="_blank"> <img src="/public/img/profile/specs.png"> </a>
           <span class="press-tag"> Brilliant Innovation Lets London Subway Riders Donate Leftover Fares </span>
            <span> Huffington Post</span>
        </div>

    </div>
    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://www.refinery29.com/2014/11/78038/b3d-head-3d-printed-vibrator" target="_blank">  <img src="/public/img/profile/specs.png">  </a>
               <span class="press-tag">  Zander Whitehurst has designed a present your partner will never forget... </span>
            <span> Refinery 29</span>
        </div>
    </div>


    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://metro.co.uk/2014/11/18/benedict-cum-berbatch-this-is-a-vibrator-in-the-shape-of-sherlocks-head-4953231/" target="_blank">   <img src="/public/img/profile/specs.png"> </a>
              <span class="press-tag">  Designer Zander Whitehurst launched B3D HEAD with couples in long distance relationships... </span>
            <span> Metro</span>
        </div>
    </div>

    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://elitedaily.com/news/world/vibrator-shaped-lovers-head/851368/" target="_blank">   <img src="/public/img/profile/specs.png"> </a>
               <span class="press-tag">  One entrepreneur just singlehandedly redefined the meaning of giving head... </span>
            <span> Elite Daily</span>
        </div>
    </div>

        <div class="col-md-12 pad">
            <div class="press-pack">
                <a href="http://www.sickchirpse.com/vibrator-shaped-partners-head/" target="_blank"> <img src="/public/img/profile/specs.png"> </a>
         <span class="press-tag">  A London based entrepeneur from New York has had one of the best ideas ever </span>
                <span> Sick Chirpse</span>
            </div>

        </div>

    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://thecreatorsproject.vice.com/nl/blog/met-de-common-pence-doneer-je-met-je-ov-chipkaart" target="_blank">  <img src="/public/img/profile/specs.png"> </a>
             <span class="press-tag"> This device puts the fun in fundraisisng... </span>
            <span> Creators Project</span>
        </div>
    </div>


    <div class="col-md-12 pad">
        <div class="press-pack">
            <a href="http://techmash.co.uk/2015/04/15/making-a-donation-to-charity-is-easy-with-common-pence/" target="_blank"> <img src="/public/img/profile/specs.png">  </a>
               <span class="press-tag"> Making a donation to charity is easy with Common Pence </span>
            <span> Tech Mash</span>
        </div>
    </div>


   </div>