@media (max-width: 767px) {
  [data-template="collaborate"]{



    .collaborate {

      .contact {
        height: 25vh;
        border-right: none;
        border-bottom: 1px solid white;
      }

      .collaborate-link {
        position: absolute;
        top: 0%;
        left: 10%;
        right: 10%;
        font-size: 20px;

      }

    }
  }

}