[data-template ="collaborate"] {
  .collaborate {
    height: 100vh;
    background: deepskyblue;

  }


  .contact {
    height: 100vh;
    border-right: 1px solid white;
    transition: .4s;

    &:hover {
      background: rgba(100, 100, 100, 0.5);
    }
  }



    .collaborate-link {
      position: absolute;
      text-align: center;
      top: 40%;
      left: 10%;
      right: 10%;
      font-size: 25px;
      color: white;
      cursor: pointer;

      i{
        display: block;
      }
    }
}