@media (max-width: 991px){
  [data-template="collaborate"] {

    .collaborate {

      .contact {
        height: 25vh;
        border-right: none;
        border-bottom: 1px solid white;
      }

      .collaborate-link {
        position: absolute;
        top: 22%;
        left: 10%;
        right: 10%;
        font-size: 20px;

      }

    }
  }
}