<div data-template="collaborate">
    <div class="collaborate">

        <div class="col-md-3 contact">
            <div class="collaborate-link">
                    <i class="fa fa-slack fa-3x"></i>
                Join my slack channel
            </div>


        </div>
        <div class="col-md-3 contact">
            <div class="collaborate-link">
                <i class="fa fa-twitter fa-3x"></i>
                Send me a tweet
            </div>

        </div>
        <div class="col-md-3 contact">
            <div class="collaborate-link">
                <i class="fa fa-github fa-3x"></i>
                Fork me on Git hub
            </div>

        </div>
        <div class="col-md-3 contact">
            <div class="collaborate-link">
                <i class="fa fa-mobile fa-3x"></i>
                Give me a dingle
            </div>

        </div>
        </div>

</div>