<div data-template="collaborate" data-ng-controller="ColCtrl">
    <div class="collaborate">

        <div class="col-md-3 contact">
            <a href="mailto:zanderwhitehurst@gmail.com?Subject=Howdy">
            <div class="collaborate-link">
                    <i class="fa fa-envelope fa-3x"></i>
                Ping me a note
            </div>
            </a>
        </div>
        <div class="col-md-3 contact">
          <a href="https://twitter.com/zwhitehurst" target="_blank">
            <div class="collaborate-link">
                <i class="fa fa-twitter fa-3x"></i>
                Send me a tweet
            </div>
          </a>
        </div>
        <div class="col-md-3 contact">
            <a href="https://github.com/ZanderWhitehurst" target="_blank">
            <div class="collaborate-link">
                <i class="fa fa-github fa-3x"></i>
                Fork me on Git hub
            </div>
            </a>
        </div>
        <div class="col-md-3 contact">
            <a href="https://uk.linkedin.com/in/zanderwhitehurst" target="_blank">
            <div class="collaborate-link">
                <i class="fa fa-linkedin fa-3x"></i>
                Add me
            </div>
            </a>
        </div>
        </div>

</div>