<div data-template="bio-award">
    <div class="bio-award">
       <div class="col-md-12 pad">
           <div class="title">
               Awards
           </div>
       </div>
    </div>

    <div class="award-list">
        <div class="col-md-12 pad">
            <div class="award-col">
                <div class="award"><strong>Fellowship Scholarship - NYU - 2013</strong></div>
                <div class="award"><strong>Saatchi World Schools Art Prize - 2010</strong></div>
                <div class="award"><strong>Outstanding Scholarship - Harrow School - 2008</strong></div>

            </div>

        </div>
    </div>

</div>