<div data-template="header" data-ng-controller="HeaderCtrl">
    <div class="header">
        <div class="logo">
            <div class="name">
                <a href="/index.html">
                ZANDER<span>WHITEHURST</span>
                </a>
            </div>
        </div>


        <div class="header-tabs">
            <a href="/advertise.html">
                <i class="fa fa-star-o"></i>
                AD
            </a>
        </div>


        <div class="header-tabs">
            <a href="/bio.html">
                <i class="fa fa-play"></i>
                STORY
            </a>
        </div>

        <div class="header-tabs">
            <a href="/lifestyle.html">
                <i class="fa fa-heart"></i>
                LIFE
            </a>
        </div>
        <div class="header-tabs">
            <a href="/podcast.html">
                <i class="fa fa-headphones"></i>
                LISTEN
            </a>
        </div>

        <div class="header-tabs">
            <a href="/blog.html">
                <i class="fa fa-code"></i>
                LEARN
            </a>
        </div>

        <div class="header-tabs">
            <a href="/products.html">
                <i class="fa fa-lightbulb-o"></i>
                LAUNCH
            </a>
        </div>

       <!-- <div class="menu-btn">
            <div class="fa fa-bars"></div>
            &lt;!&ndash;<div class="menu-txt">Menu</div>&ndash;&gt;
        </div>-->

        <div class="mobile-nav">
            <div class="mini-tabs">
                <a href="/index.html">
                    <i class="fa fa-home"></i>
                    HOME
                </a>
            </div>

            <div class="mini-tabs">
                <a href="/bio.html">
                    <i class="fa fa-play"></i>
                    STORY
                </a>
            </div>

            <div class="mini-tabs">
                <a href="/lifestyle.html">
                    <i class="fa fa-heart"></i>
                    LIFE
                </a>
            </div>
            <div class="mini-tabs">
                <a href="/podcast.html">
                    <i class="fa fa-headphones"></i>
                    LISTEN
                </a>
            </div>

            <div class="mini-tabs">
                <a href="/blog.html">
                    <i class="fa fa-code"></i>
                    LEARN
                </a>
            </div>

            <div class="mini-tabs">
                <a href="/products.html">
                    <i class="fa fa-lightbulb-o"></i>
                    LAUNCH
                </a>
            </div>
        </div>
    </div>
</div>
