@media(max-width: 991px){
  [data-template = "blog-post"]{
    .blog-post{
      position: relative;
      background: white;
      .pad{
        padding: 0;
        .blog-post-box {
          position: relative;
          height: 400px;
          background-image: url('/public/img/profile/googly.jpg');
          background-size: cover;
          background-position: center;
          margin: 50px 0;

          .blog-overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .7);

            .blog-title {
              position: relative;
              text-align: center;
              font-size: 30px;
              line-height: 40px;
              color: white;
              padding-top: 100px;
            }

            .blog-p {
              position: relative;
              text-align: center;
              font-size: 18px;
              line-height: 28px;
              color: white;
              width: 650px;
              margin: 30px auto;
            }
            a {
              text-decoration: none;
              .get-reading {
                position: relative;
                border: 1px solid white;
                width: 200px;
                font-size: 16px;
                line-height: 40px;
                text-align: center;
                margin: 0 auto;
                color: white;
                transition: 0.4s;
                i {
                  font-size: 14px;
                  line-height: 40px;
                  padding-left: 5px;

                }
                &:hover {
                  background: #FFB300;
                }
              }
            }
          }
        }
      }
    }
  }
}