<div data-template="blog-post">
    <div class="blog-post" id="blog-top">


        <div class="col-md-12 pad">
            <div class="blog-post-box" style=" background-image: url('/public/img/profile/money.jpg');">
                <div class="blog-overlay">

                    <div class="blog-title">
                        DEVELOP & MONETIZE YOUR DIGITAL PRESENCE
                    </div>
                    <div class="blog-p">
                        Last month my platform made £768.09 and it is predicted to make close to £8500 this year...
                    </div>
                    <a href="/blog/develop-and-monetize-your-digital-presence.html">
                        <div class="get-reading">
                            GET READING <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 pad">
            <div class="blog-post-box" style=" background-image: url('/public/img/profile/flat-01.jpg');">
                <div class="blog-overlay">

                    <div class="blog-title">
                        BUILD A FLAT ICON IN 20 SECONDS FLAT
                    </div>
                    <div class="blog-p">
                        The Flat Icon is iconic. Follow this swift guide to build a flat icon in seconds....
                    </div>
                    <a href="/blog/flat-icon.html">
                        <div class="get-reading">
                            GET READING <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 pad">
            <div class="blog-post-box" style=" background-image: url('/public/img/profile/bond.jpg');">
                <div class="blog-overlay">

                    <div class="blog-title">
                        HOW TO CRASH A WORLD FILM PREMIERE AND AFTER PARTY - SPECTRE SPECIAL
                    </div>
                    <div class="blog-p">
                        If you do anything with enough confidence you can achieve it...
                    </div>
                    <a href="/blog/crash-film-premiere.html">
                        <div class="get-reading">
                            GET READING <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 pad">
            <div class="blog-post-box" style=" background-image: url('/public/img/profile/crowdfund.jpg');">
                <div class="blog-overlay">

                    <div class="blog-title">
                        HOW TO HIT 200% OF YOUR CROWDFUNDING GOAL
                    </div>
                    <div class="blog-p">
                        Crowdfunding is phenomenal. If you project is big and bold then you must crush your crowdfunding
                        campaign like a pistachio...
                    </div>
                    <a href="/blog/hit-crowdfunding-goal.html">
                        <div class="get-reading">
                            GET READING <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 pad">
            <div class="blog-post-box">
                <div class="blog-overlay">

                    <div class="blog-title">
                        WHY I TURNED DOWN A JOB AT GOOGLE
                    </div>
                    <div class="blog-p">
                        I threw them a googly. The googly of all googlies. Annoyingly, Geoffrey Boycott was not
                        available to commentate on the conversation...
                    </div>
                    <a href="/blog/why-i-turned-down-a-job-at-google.html">
                        <div class="get-reading">
                            GET READING <i class="fa fa-chevron-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>