<div data-template="bio-skill">
    <div class="skill-color">

    <div class="col-md-12 pad">
        <div class="skills">
            Skill
        </div>
    </div>


    <div class="col-md-12">
        <div class="key">

            <div class="mob-dots">
            <div class="dots">
                <i class="fa fa-circle fa-1x design-circle"></i><strong>Design</strong>
            </div>

            <div class="dots">
                <i class="fa fa-circle fa-1x developer-circle"></i><strong>Software</strong>
            </div>

            </div>
            <div class="mob-dots">
            <div class="dots">
                <i class="fa fa-circle fa-1x hard-circle"></i><strong>Hardware</strong>
            </div>

            <div class="dots">
                <i class="fa fa-circle fa-1x management-circle"></i><strong>Management</strong>
            </div>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="skill-col">
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Angular</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>JQuery</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Sass</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Gulp</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Git</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Bootstrap</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>CSS3</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>D3.js</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Velocity.js</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Node</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>JSON</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Javascript</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Ajax</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Google Analytics</strong></div>
                <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>AWS</strong></div>
                    <div class="skill"><i class="fa fa-circle fa-1x developer-circle"></i><strong>Word Press</strong></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="skill-col">
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Illustrator</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Photoshop</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Premier</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>After Effects</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Rhino</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Sketch</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Balsamiq</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x design-circle"></i><strong>Axure</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Arduino</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Makerbot</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Craftbot</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Raspberry Pi</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x hard-circle"></i><strong>Laser Cutter</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x management-circle"></i><strong>Jira</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x management-circle"></i><strong>Trello</strong></div>
            <div class="skill"><i class="fa fa-circle fa-1x management-circle"></i><strong>Microsoft Suite</strong>
            </div>
        </div>
    </div>
</div>
</div>

</div>