<div data-template="blog-post-003" data-ng-controller="BlogPost003Ctrl">
    <div class="blog-post-hero">
        <div class="blog-post-hero-overlay">
            <div class="blog-post-title">
                HOW TO CRASH A WORLD FILM PREMIERE & AFTER PARTY - SPECTRE SPECIAL
            </div>
            <div class="read-time">
                4 MINUTE READ
            </div>
            e
            <div class="share">
                TAKE CARE & SHARE
            </div>
            <div class="blog-post-social">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.zanderwhitehurst.co/blog/crash-film-premiere.html"
                   target="_blank"><i class="fa fa-facebook social-icon"></i>
                </a>
                <a href="https://twitter.com/home?status=How%20to%20crash%20a%20world%20film%20premiere%20%26%20after%20party%20-%20Spectre%20Special%20http%3A//www.zanderwhitehurst.co/blog/crash-film-premiere.html%20%40zwhitehurst"
                   target="_blank" style=" background: #1aa7e2;">
                    <i class="fa fa-twitter social-icon"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=%3Ca%20href=%22https%3A//plus.google.com/share?url=http%253A//www.zanderwhitehurst.co/blog/crash-film-premiere.html%22&title=&summary=&source="
                   style=" background: #007ab8;" target="_blank">
                    <i class="fa fa-linkedin social-icon"></i>
                </a>
                <a href="https://plus.google.com/share?url=http%3A//www.zanderwhitehurst.co/blog/crash-film-premiere.html"
                   target="_blank" style=" background: #df4f3f;">
                    <i class="fa fa-google-plus social-icon"></i>
                </a>
            </div>

        </div>

    </div>

    <div class="blog-post-content">
        <div class="blog-post-date">
            22/10/15
        </div>
        <div class="blog-post-subtitle">
            How to crash a World Film Premiere & After Party - Spectre Special
        </div>
        <div class="blog-post-content">
            On Monday evening my best friend James Ware and I successfully crashed the Royal World Premiere of Spectre
            at the Royal Albert Hall. As you can imagine the occasion was unbelievable and unforgettable. Before you
            panic, I will not reveal anything about the film, except that the opening scene is a blast.
            <br><br>
            The Spectre Royal World Premiere was probably the biggest event you could have been at on Monday evening
            and, depending on your general persuasion, that’d be closely followed by the after-party.
            The only problem is, is that the guest list for London’s Royal Albert Hall premiere was extremely exclusive.
            The only thing more exclusive would be tickets to the after party at The British Museum.
            <br><br>
            So how do you crash it, James Bond Style?
            <br><br>
           <span class="title">Believe in yourself.</span>
            <br>
            It comes down to confidence. There are too many sayings to list, but the confidence card is the first one to
            play. James and I believed 100% of the time we could do it and we did it. This also ensues you actually
            enjoy the occasion. Instead of panicking, stay cool, calm and collected.
            <br><br>
            <img src="/public/img/profile/bond-meet.jpg">
            <span> Saying howdy to Chris Evans </span>
            <br><br>
            <img src="/public/img/profile/selfie.jpg">
            <span> Seflie with the songbird Sam Smith </span>
            <br><br>
            Make as much eye contact as you can with everyone. It helped hugely that James is a very charming and
            talented vlogger. His eye for attention led us to celebs including the song bird Sam Smith, Chris Evans and
            even the delightful Naomie Harris. This leads me on to my next point
            <br><br>
            <span class="title">Blend in.</span>
            <br>
            For all you know everyone present believes you are supposed to be there so act like it. We took a sharpie
            for autographs, sunglasses and most importantly each had our black tie on, with self-tie dickey bow to
            guarantee we were not questioned upon arrival.
            <br><br>
            <img src="/public/img/profile/bond-blend-002.jpg">
            <span> Black tie & typical over the top sunglasses </span>
            <br><br>
            <img src="/public/img/profile/bond-blend-01.jpg">
            <span> Black tie & a touch of tartan </span>
            <br><br>
            <span class="title">Arrive in style.</span>
            <br>
            Our arrival was also bond themed. Opting for an Uber lux, we looked the part and arrived in style.
            Importantly, know what the dress code is and go above and beyond to arrive fashionably late and with flair.
            <br><br>
            <span class="title">Hack it</span>
            <br>
            There is even a hack for tickets. Many people oddly post them on social media. Search using relevant key words
            and you should find them fairly easily. As a developer we hack things together all the time; do your best to hack something together
            and hope it works. However, the important thing to remember is, our tickets barely got checked until we were in
            the venue. Therefore, you are at least guaranteed red carpet action.
            <br><br>
            <span class="title">In is in</span>
            <br>
            Once you are in, have a gulp of something glacial. It will calm you down and cheer you up. Logistically, you
            have to be the last one to take your sit, so hang back and hold on. When you are ready, plough in and pop a
            squat where you can.
            <br><br>
            <span class="title">Action</span>
            <br>
            Sit back, relax and let the good times roll. Enjoy the film and the spectacle. We were lucky to be joined by
            the royals. Comfortably in we took the opportunity to belt out the National Anthem, accompanied by a fanfare of trumpeters.
            <br><br>
            <img src="/public/img/profile/fanfare.png">
            <span> National Anthem fanfare </span>
            <br><br>
            <span class="title">After Party</span>
            <br>
            Remember taking the time to talk to folks in the queue and on the red carpet? Well, as you know, certain
            people like talking about themselves and seem incapable of returning any questions. We didn’t even have to ask
            anyone if they were going or where it was. Three people openly boasted of going to the exclusive event and
            even took the time to show us their wristbands. We did our best with our Royal Spectre program to rip, wrap
            and stick together our very own gold wristbands.
            <br><br>
            <span class="title">Fashionably late is great</span>
            <br>
            For the after party follow a similar routine to the film. Hop into the queue and be late. Maintain eye contact with everyone and smile more than
            a Cheshire cat. Ideally, distract whoever needs to check your wristband with a compliment. Once you are in,
            just revel in the moment.
            <br><br>
            <img src="/public/img/profile/party.jpg">
            <span>The rest is history</span>
            <br><br>
            Check out our viral film from the occasion.

            <br><br>
            <div class="videoWrapper">
            <iframe  src="https://www.youtube.com/embed/OV1I06ptpjM" frameborder="0" allowfullscreen></iframe>

                </div>
        </div>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
             var disqus_config = function () {
             this.page.url = http://www.zanderwhitehurst.co/blog/why-i-turned-down-a-job-from-google.html;  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };
             */
            (function () {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//zanderwhitehurst.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//zanderwhitehurst.disqus.com/count.js" async></script>

    </div>
</div>