<div data-template = "podcast-page-adam">
    <div class="podcast-page-adam">

        <div class="podcast-page-backdrop">
            <div class="podcast-page-overlay">
                <div class="podcast-page-person">
                    ZWP - ADAM SHABBIR
                </div>
            </div>
        </div>

            <div class="podcast-title">
                Adam Shabbir on Lean Living and Play Time
            </div>

        <div class="podcast-player-date">
            19/10/15
        </div>
        <div class="podcast-player">
        <div class="podcast-main-image">
        </div>
        <iframe width="100%" height="100" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/229105483&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=falsee&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;sharing=false&amp;download=false&amp;cookie_policy=false"></iframe>

              <div class="podcast-main-p">
            Adam Shabbir is a startup sansei. He shares decades of experience in and around Old Street, comparing startup mannerisms from then and now.
            <br> <br>
            Adam is a huge believer in lean development and empowering developers. His fluid ability to manage products is futuristic, flat and fun.
            <br><br>
            He leads an international lifestyle, jetting to dozens of countries a year with his family. He believes a holiday should tire you out more than work.
            <br><br>
            A true gentleman and vet in the tech world.
            <br> <br>
            <a href="https://www.linkedin.com/in/aashabbir" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        </div>

    </div>
</div>