<div data-template="blog-post-004" data-ng-controller="BlogPost004Ctrl">
    <div class="blog-post-hero">
        <div class="blog-post-hero-overlay">
            <div class="blog-post-title">
                BUILD A FLAT ICON IN 20 SECONDS FLAT
            </div>
            <div class="read-time">
                1 MINUTE READ
            </div>

            <div class="share">
                TAKE CARE & SHARE
            </div>
            <div class="blog-post-social">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.zanderwhitehurst.co/blog/flat-icon.html"
                   target="_blank"><i class="fa fa-facebook social-icon"></i>
                </a>
                <a href="https://twitter.com/home?status=Build%20a%20flat%20icon%20in%2050%20seconds%20http%3A//www.zanderwhitehurst.co/blog/flat-icon.html%20%40zwhitehurst"
                   target="_blank" style=" background: #1aa7e2;">
                    <i class="fa fa-twitter social-icon"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.zanderwhitehurst.co/blog/flat-icon.html&title=&summary=&source="
                   style=" background: #007ab8;" target="_blank">
                    <i class="fa fa-linkedin social-icon"></i>
                </a>
                <a href="https://plus.google.com/share?url=http%3A//www.zanderwhitehurst.co/blog/flat-icon.html
                   target="_blank" style=" background: #df4f3f;">
                    <i class="fa fa-google-plus social-icon"></i>
                </a>
            </div>

        </div>

    </div>

    <div class="blog-post-content">
        <div class="blog-post-date">
            26/10/15
        </div>
        <div class="blog-post-subtitle">
            Build a flat icon in 20 seconds flat
        </div>
        <div class="blog-post-content">

            The flat icon is just as prolific as its coffee cousin, the flat white. The Flat Icon is iconic. Follow this swift guide to build a flat icon in seconds.

            <br><br>
            <span class="title"> 1. Create base icon </span>
            <br><br>
            <img src="/public/img/profile/flat-01.jpg">
            <span> Best to use an ellipse backdrop and I would recommend a pastel pallete </span>
            <br> <br>
            <br> <br>
            <span class="title"> 2. Duplicate icon - twice </span>
            <br><br>
            <img src="/public/img/profile/flat-02.jpg">
            <span> Group elements of the icon and copy and paste one at a 45 degree angle from the original and another on top of the original. </span>
            <br> <br>
            <br> <br>
            <span class="title"> 3. Change colour  </span>
            <br><br>
            <img src="/public/img/profile/flat-03.jpg">
            <span> Make both duplicates the same colour, preferably a darker shade than the original icon</span>
            <br> <br>
            <br> <br>
             <span class="title"> 4. Blend duplicates </span>
            <br><br>
            <img src="/public/img/profile/flat-04.jpg">
            <span> Select both duplicates and Choose 'Object', shimmy down to 'Blend', click 'Blend Options' and opt for "Specified Steps" as a spacing option and whack "500" in the field.  </span>
            <br> <br>
            <br> <br>
            <span class="title"> 5. Reduce Opacity </span>
            <br><br>
            <img src="/public/img/profile/flat-05.jpg">
            <span> Once the duplicates have been blended, select the blended object and reduce the opacity to 25% </span>
            <br> <br>
            <br> <br>
            <span class="title"> 6. Arrange layers </span>
            <br><br>
            <img src="/public/img/profile/flat-06.jpg">
            <span> Bring the original icon to the front by selecting the blended object, right clicking, choosing 'Arrange' and 'Send Backward'. Alternatively, given the last object you duplicate was the icon, use 'cmd + v' to paste a new original icon on top of the blended object.    </span>
            <br> <br>
            <br> <br>
            <span class="title"> 7. Make Clipping Mask </span>
            <br><br>
            <img src="/public/img/profile/flat-07.jpg">
            <span> Copy and paste your circular backdrop on top of the icon. Select all, right click and choose 'Make Clipping Mask" </span>
            <br> <br>
            <br> <br>
            <span class="title"> 8. Voila </span>
            <br><br>
            <img src="/public/img/profile/flat-08.jpg">
            <span>Your flat icon now has depth. However, this is not the end; when you save your icon as an image you will notice the blended object has not been masked. Save your icon, open it in photoshop or preview. Crop it using the ellipse crop tool, save the final icon and you can now sip on your flat white.   </span>
            <br> <br>

            <a  class="download" href="path_to_file" download="/public/img/profile/flat-icon.png">Download my free flat icon <i class="fa fa-download"></i></a>
        </div>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
            /*
             var disqus_config = function () {
             this.page.url = http://www.zanderwhitehurst.co/blog/why-i-turned-down-a-job-from-google.html;  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };
             */
            (function () {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//zanderwhitehurst.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//zanderwhitehurst.disqus.com/count.js" async></script>
    </div>
</div>