<div data-template = "code-banner">
    <div class="col-md-12 pad">
    <div class="code-banner">
        <div class="code-banner-text">
           LEARN THE FUNDAMENTALS OF STARTUPS AND HOW TO CODE, IN COMFORT!
        </div>
        <a href="http://codelounge.xyz">
        <div class="code-banner-join">
                JOIN CODE LOUNGE <i class="fa fa-chevron-right"></i>
        </div>
        </a>
    </div>
    </div>
</div>